@import "fontface";
@import "utility";

.icon-nextstep-360 {
  @include icon-nextstep(360);
}
.icon-nextstep-brochure {
  @include icon-nextstep(brochure);
}
.icon-nextstep-business-customers {
  @include icon-nextstep(business-customers);
}
.icon-nextstep-calculator {
  @include icon-nextstep(calculator);
}
.icon-nextstep-calendar-export {
  @include icon-nextstep(calendar-export);
}
.icon-nextstep-calendar {
  @include icon-nextstep(calendar);
}
.icon-nextstep-car {
  @include icon-nextstep(car);
}
.icon-nextstep-checkmark {
  @include icon-nextstep(checkmark);
}
.icon-nextstep-compare {
  @include icon-nextstep(compare);
}
.icon-nextstep-configure {
  @include icon-nextstep(configure);
}
.icon-nextstep-convince-someone {
  @include icon-nextstep(convince-someone);
}
.icon-nextstep-corporate-topics {
  @include icon-nextstep(corporate-topics);
}
.icon-nextstep-dealer {
  @include icon-nextstep(dealer);
}
.icon-nextstep-download {
  @include icon-nextstep(download);
}
.icon-nextstep-email {
  @include icon-nextstep(email);
}
.icon-nextstep-exclamation-mark {
  @include icon-nextstep(exclamation-mark);
}
.icon-nextstep-favourite {
  @include icon-nextstep(favourite);
}
.icon-nextstep-fax {
  @include icon-nextstep(fax);
}
.icon-nextstep-filter {
  @include icon-nextstep(filter);
}
.icon-nextstep-get-your-volkswagen-1 {
  @include icon-nextstep(get-your-volkswagen-1);
}
.icon-nextstep-get-your-volkswagen-2 {
  @include icon-nextstep(get-your-volkswagen-2);
}
.icon-nextstep-home {
  @include icon-nextstep(home);
}
.icon-nextstep-image-gallery {
  @include icon-nextstep(image-gallery);
}
.icon-nextstep-image {
  @include icon-nextstep(image);
}
.icon-nextstep-importer {
  @include icon-nextstep(importer);
}
.icon-nextstep-info {
  @include icon-nextstep(info);
}
.icon-nextstep-locate-me {
  @include icon-nextstep(locate-me);
}
.icon-nextstep-mail {
  @include icon-nextstep(mail);
}
.icon-nextstep-more {
  @include icon-nextstep(more);
}
.icon-nextstep-news {
  @include icon-nextstep(news);
}
.icon-nextstep-offer {
  @include icon-nextstep(offer);
}
.icon-nextstep-owners {
  @include icon-nextstep(owners);
}
.icon-nextstep-phone {
  @include icon-nextstep(phone);
}
.icon-nextstep-pin {
  @include icon-nextstep(pin);
}
.icon-nextstep-preowned {
  @include icon-nextstep(preowned);
}
.icon-nextstep-print {
  @include icon-nextstep(print);
}
.icon-nextstep-profile {
  @include icon-nextstep(profile);
}
.icon-nextstep-question-mark {
  @include icon-nextstep(question-mark);
}
.icon-nextstep-responsibility {
  @include icon-nextstep(responsibility);
}
.icon-nextstep-route {
  @include icon-nextstep(route);
}
.icon-nextstep-search {
  @include icon-nextstep(search);
}
.icon-nextstep-service {
  @include icon-nextstep(service);
}
.icon-nextstep-support {
  @include icon-nextstep(support);
}
.icon-nextstep-testdrive {
  @include icon-nextstep(testdrive);
}
.icon-nextstep-upload {
  @include icon-nextstep(upload);
}
.icon-nextstep-video {
  @include icon-nextstep(video);
}
.icon-nextstep-view {
  @include icon-nextstep(view);
}
.icon-nextstep-website {
  @include icon-nextstep(website);
}
.icon-nextstep-write {
  @include icon-nextstep(write);
}