@import "../../../globals/style/core";

.m212 {
  @include container();
  @extend %page-module-spacing;

  &__container {
    @extend %page-module-spacing-inner;
    @include kdx-grid-container();
    @include media($tablet) {
      @include clearfix();
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }
  }
}

.m212_item,
.m212_sub {
  @extend %module-spacing-inner;
  @include span(12);
  @include media($tablet) {
    @include span(4);
    margin-bottom: 0;
    display: block;
  }
  @extend %gutters-basic;
}

.m212_item {

  &__headline {
    @include responsive-typo($header-4);
  }
  &__image-wrapper {
    margin-bottom: rem(30px);
    @include media($fablet) {
      max-width: rem(213px);
      .is-icon-contain & {
        max-width: rem(120px);
      }
    }
  }
}

.m212_sub {

  &__inner {
    @include kdx-grid-container();
    @include vertical-align-pseudo();
    font-size: 0;
    @include media($tablet) {
      &:before {
        display: none;
      }
    }
  }

  &__media {
    font-size: rem(40px);
    line-height: 1;
    width: span(3);
    @include push(1);
    @include media($tablet) {
      @include push(0);
      margin-bottom: rem(10px);
    }
  }

  &__content {
    @include responsive-typo($bodycopy-b1);
    width: span(8);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    vertical-align: top;
  }

  &__media,
  &__content {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    @include media($tablet) {
      @include span(4 of 4);
      text-align: center;
    }
    @extend %gutters-basic;
  }
}

%gutters-basic {
  @include gutters();
  @include media($tablet) {
    @include gutters();
  }
  @include media($laptop) {
    @include gutters();
  }
  @include media($desktop) {
    @include gutters();
  }
  @include media($widescreen) {
    @include gutters();
  }
}
