include ../m200_Basic_Content_Teaser/index
include ../../UI_Elements/icon/index
include ../../UI_Elements/link/index

mixin m212_Shopping_Teaser_item(item)
    +m200_Basic_Content_Teaser(item, false, 'm212_item').m200_flex.m212_item

mixin m212_Shopping_Teaser(items, subitems)
    -subitems = subitems || [];
    -items = items || [];
    // Component m212_Shopping_Teaser
    .m212
        .m212__container
            each item in items
                // !HTML 16.03
                +m212_Shopping_Teaser_item(item)
        .m212__container
            each sub in subitems
                .m212_sub
                    .m212_sub__inner
                        .m212_sub__media
                            +icon('nextstep', sub.icon).m212_sub__icon
                        .m212_sub__content
                            +textlink(sub.link || '#').m212_sub__link
                                !=sub.text
    // END - m212_Shopping_Teaser
