mixin checkbox(label, error_text)
    label.checkbox
        input.checkbox__control(type='checkbox')&attributes(attributes)
        .checkbox__mask.hasicon.icon-nextstep-checkmark
        if block
            span.checkbox__title
                block

        span.checkbox__help-block.error-container
            != error_text
