@import "../../../globals/style/core";


.btn {
  border-radius: $radius;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  white-space: normal;
  height: 4.2rem;
  min-height: 4.2rem;
  padding: .4rem .9rem;
  width: 100%;
  background: #FFF;
  border: .1rem solid $grey_20;
  color: $primary;
  font-family: $font;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  overflow: hidden;
  text-align: center;
  display: table;

  &_cta {
    background: $primary;
    border-color: $primary;
    color: #FFF;

    %module-bg-blue & {
      background: #FFF;
      border: .1rem solid $grey_20;
      color: $primary;
    }
  }

  &_center {
    margin: {
      left: auto;
      right: auto;
    };
  }

  &:hover {
    background: $primary_hover;
    border-color: $primary_hover;
    color: #FFF;
  }

  &.disabled {
    background: $grey_40;
    border-color: $grey_60;
    color: mix($grey_80, $grey_20);
  }

  @include media($fablet){
    max-width: 19.8rem;
  }
}


.btn__text {
  line-height: 1.6rem;
  display: table-cell;
  vertical-align: middle;
}


// button tag fix
button.btn {
  display: block;
}

button.btn .btn__text {
  display: inline-block;
}

.btn[disabled] {
  background-color: $zeplin-silver;
  border: solid 1px $zeplin-silver;
  pointer-events: none;
  color: rgba(47, 53, 56, 0.5);
}