@import "../../settings/grid";

%grid-container {
  display: block;
  @include clearfix();
  margin: {
    left: -(gutters());
    right: -(gutters());
  }
;

  @each $breakpoint in $breakpoints {
    @if map_has_key($breakpoint, grid) {
      $grid: map_get($breakpoint, grid);
      $outer-offest: map_get($grid, gutters) * map_get($grid, column-width) / 2;
      @include media($breakpoint) {
        margin: {
          left: -(rem($outer-offest));
          right: -(rem($outer-offest));
        }
      ;
      }
    }
  }
}

@mixin grid-container {
  @extend %grid-container;
}

@mixin generate-kdx-grid-container {
  @include clearfix();
  @each $label, $grid in $grid-map {
    $min-width: map-get($grid, min-width);
    $max-width: map-get($grid, max-width);
    $container: map-get($grid, container);
    $gap: 0px;

    @if map-get($grid, gap) % 2 == 0 or unit(map-get($grid, gap)) != 'px' {
      $gap: map-get($grid, gap);
    } @else {
      $gap: map-get($grid, gap) + 1;
    }

    @if $min-width != null or $max-width != null {
      $breakpoint-map: ();
      $breakpoint-map: join($breakpoint-map, if($min-width != null, (min-width $min-width), ()), space);
      $breakpoint-map: join($breakpoint-map, if($max-width != null, (max-width $max-width), ()), space);
      $breakpoint-map: (
        media: $breakpoint-map,
      );
      @include media($breakpoint-map) {
        width: if($container == 100%, auto, $container);
        margin-left: -$gap/2;
        margin-right: -$gap/2;
      }

    } @else {
      width: if($container == 100%, auto, $container);
      margin-left: -$gap/2;
      margin-right: -$gap/2;
    }
  }
}

%kdx-grid-container {
  @include generate-kdx-grid-container();
}

@mixin kdx-grid-container($extend: true) {
  @if $extend {
    @extend %kdx-grid-container;
  } @else {
    @include generate-kdx-grid-container();
  }
}
