include ../radio/index

mixin radiogroup(name, radiobtns, error_text)
    .radiogroup.js_error_container
        each radio in radiobtns
            +radiobtn(radio.label, name, radio.value)( checked=radio.checked )&attributes(attributes)

        span.radiogroup__help-block.error-container
            != error_text
