@import "fontface";
@import "utility";

.icon-share-facebook {
  @include icon-share(facebook);
}
.icon-share-googleplus {
  @include icon-share(googleplus);
}
.icon-share-instagram {
  @include icon-share(instagram);
}
.icon-share-linkedin {
  @include icon-share(linkedin);
}
.icon-share-odnoklassniki {
  @include icon-share(odnoklassniki);
}
.icon-share-pinterest {
  @include icon-share(pinterest);
}
.icon-share-twitter {
  @include icon-share(twitter);
}
.icon-share-youtube {
  @include icon-share(youtube);
}