@mixin icon-share-styles {
  font-family: "icon-share"; // shortening font declaration
}

%icon-share {
  @include icon-share-styles;
}

%icon-share-before {
  &:before {
    @include icon-share-styles;
  }
}

%icon-share-after {
  &:after {
    @include icon-share-styles;
  }
}

@function icon-share-char($filename) {
  $char: "";

  @if $filename == facebook {
    $char: "\E001";
  }

  @if $filename == googleplus {
    $char: "\E002";
  }

  @if $filename == instagram {
    $char: "\E003";
  }

  @if $filename == linkedin {
    $char: "\E004";
  }

  @if $filename == odnoklassniki {
    $char: "\E005";
  }

  @if $filename == pinterest {
    $char: "\E006";
  }

  @if $filename == twitter {
    $char: "\E007";
  }

  @if $filename == youtube {
    $char: "\E008";
  }


  @return $char;
}

@mixin icon-share($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-share-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-share-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-share-char($filename);
  }
}