@import "../../../globals/fonts/vw_d5_webfont/vw-webfont";
@import "../../fonts/icons/arrow/stylesheet";
@import "../../fonts/icons/engine/stylesheet";
@import "../../fonts/icons/link/stylesheet";
@import "../../fonts/icons/navigation/stylesheet";
@import "../../fonts/icons/misc/stylesheet";
@import "../../fonts/icons/nextstep/stylesheet";
@import "../../fonts/icons/quickaccess/stylesheet";
@import "../../fonts/icons/share/stylesheet";
@import "../../fonts/icons/currency/stylesheet";
@import "../../fonts/icons/features/stylesheet";


%icon-element-common-styles {
  display: inline-block;
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  font-style: normal;
  speak: none;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hasicon{
  &:before {
    @extend %icon-element-common-styles;
  }
}

.icon {
  display: inline-block;
  &:before {
    font-size: inherit;
    font-weight: normal;
    speak: none;
    line-height: 1;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon:before,
.icon:after {
  display: block;
}

.hasicon_after {
  &:after {
    @extend %icon-element-common-styles;
  }
}

//@import "../../../globals/fonts/vw_d5_icons/style";
//
//
//@mixin hasicon_before {
//  //font-size: 1rem;
//  display: inline-block;
//
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: 'vw_d5_icons' !important;
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//
//  text-decoration: none !important;
//}
//
//
//
//@mixin hasicon {
//  position: relative;
//  &:before {
//    @include hasicon_before;
//  }
//
//}
//
//@mixin hasicon_after {
//  position: relative;
//  &:after {
//    @include hasicon_before;
//  }
//}
//
//.hasicon {
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: inherit;
//  speak: inherit;
//  font-style: inherit;
//  font-weight: inherit;
//  font-variant: inherit;
//  text-transform: inherit;
//  line-height: inherit;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//
//  @include hasicon;
//}
