html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &.scroll-lock {
    overflow: hidden;
  }
}

a {
  @include link-color($primary, $primary_hover);
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  //margin-top: 5.0rem;

  @include media($tablet) {
    margin-top: 0;
    margin-left: 9.6rem;
    min-height: 100vh;
  }
}


.container-fluid {
  //TODO: should we delete global container-fluid class
  //@extend %container-fluid;
}

.error-container {
  @include responsive-typo($bodycopy-b4);
  color: $red;
  display: none;

  .has-error & {
    display: block;
  }
}

