// Typo
html {
  font-size: 10/16*100%;
}
body {
  color: $grey_80;
  font-family: $font;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.base-typo h1, .h1,
.base-typo h2, .h2,
.base-typo h3, .h3,
.base-typo h4, .h4,
.base-typo h5, .h5,
.base-typo h6, .h6 {
  display: block;
  color: $grey_100;
  margin: 0;
  font-family: $font_head;
  font-weight: bold;
}

// Headings


.base-typo h1, .h1 {
  @include responsive-typo($header-1);
  font-weight: 600;
}

.base-typo h2, .h2 {
  @include responsive-typo($header-2);
  font-weight: 600;
}

.base-typo h3, .h3 {
  @include responsive-typo($header-3);
  font-weight: 600;
}

.base-typo h4, .h4 {
  @include responsive-typo($header-4);
  font-weight: 600;
}

.base-typo h5, .h5 {
  @include responsive-typo($header-5);
  font-weight: 600;
}


// Global font styles
%b1 {
  @include responsive-typo($bodycopy-b1);
}

%b2 {
  @include responsive-typo($bodycopy-b2);
}

%b3 {
  @include responsive-typo($bodycopy-b3);
}

%b4 {
  @include responsive-typo($bodycopy-b4);
}
