@import "fontface";
@import "utility";

.icon-misc-minus {
  @include icon-misc(minus);
}
.icon-misc-plus {
  @include icon-misc(plus);
}
.icon-misc-toggle-XL {
  @include icon-misc(toggle-XL);
}
.icon-misc-toggle-XS {
  @include icon-misc(toggle-XS);
}