@mixin icon-misc-styles {
  font-family: "icon-misc"; // shortening font declaration
}

%icon-misc {
  @include icon-misc-styles;
}

%icon-misc-before {
  &:before {
    @include icon-misc-styles;
  }
}

%icon-misc-after {
  &:after {
    @include icon-misc-styles;
  }
}

@function icon-misc-char($filename) {
  $char: "";

  @if $filename == minus {
    $char: "\E001";
  }

  @if $filename == plus {
    $char: "\E002";
  }

  @if $filename == toggle-XL {
    $char: "\E003";
  }

  @if $filename == toggle-XS {
    $char: "\E004";
  }


  @return $char;
}

@mixin icon-misc($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-misc-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-misc-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-misc-char($filename);
  }
}