@import "../../../globals/style/core";

.mk505 {
  text-align: center;
}

.mk505_item {
  @include responsive-typo($bodycopy-b1-bold);

  &.is-active {
    color: $grey_100;
  }

  + .mk505_item {
    margin-left: rem(30px);
  }
}
