@mixin icon-features-styles {
  font-family: "icon-features"; // shortening font declaration
}

%icon-features {
  @include icon-features-styles;
}

%icon-features-before {
  &:before {
    @include icon-features-styles;
  }
}

%icon-features-after {
  &:after {
    @include icon-features-styles;
  }
}

@function icon-features-char($filename) {
  $char: "";

  @if $filename == engine {
    $char: "\E001";
  }

  @if $filename == fuel-consumption {
    $char: "\E002";
  }

  @if $filename == spin {
    $char: "\E003";
  }

  @if $filename == trunk {
    $char: "\E004";
  }


  @return $char;
}

@mixin icon-features($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-features-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-features-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-features-char($filename);
  }
}