include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../NavigationModules/mk505_Tab_Nav/index
include ../../TeaserModules/m200_Basic_Content_Teaser/index
include ../../UI_Elements/pagination/dots/index
include ../../UI_Elements/pagination/arrows/index

mixin m155_Highlight_Module_item(item)
    +m200_Basic_Content_Teaser(item, false, 'm155_item')(class="m155_item")

mixin m155_Highlight_Module(title, items)
    -items = items || []
    // Component m155_Highlight_Module
    .m155&attributes(attributes)
        +m021_Headline_H2()(class="m155__title")
            !=title
        +mk505_Tab_Nav()(class="m155__tab_nav")
        .m155__container
            .gridcontainer
                .m155__inner
                    each item in items
                        +m155_Highlight_Module_item(item)
            .m155__dots
                // HTML 15.03
                .m155__dots-list
            .m155__arrow
                .m155__arrow-align
                    .m155__arrow-inner

    // END m155_Highlight_Module
