@font-face {
  font-family: 'vw_head';
  src: url('./VWHeadOffice.woff2') format('woff2'),
  url('./VWHeadOffice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vw_text';
  src: url('./VWTextOffice-Bold.woff2') format('woff2'),
  url('./VWTextOffice-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vw_head';
  src: url('./VWHeadOffice-Bold.woff2') format('woff2'),
  url('./VWHeadOffice-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'vw_text';
  src: url('./VWTextOffice.woff2') format('woff2'),
  url('./VWTextOffice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
