include ../../UI_Elements/icon/index

mixin m108_Accordion_Wrapper()
    // Component m108_Accordion_Wrapper
    .m108_Accordion&attributes(attributes)
        if block
            block
    // END - m108_Accordion_Wrapper



mixin m108_Accordion_Item()
    // Component m108_Accordion_Item
    .m108_Accordion_item&attributes(attributes)
        if block
            block
    // END - m108_Accordion_Item


mixin m108_Accordion_ItemHead()
    // Component m108_Accordion_ItemHead
    .m108_Accordion_item__head&attributes(attributes)
        .grid_1.m108_Accordion_item__mark
            +icon('arrow', 'right').m108_Accordion_item__arrow
        .grid_11.m108_Accordion_item__title
            if block
                block
    // END - m108_Accordion_ItemHead

mixin m108_Accordion_ItemHead_Custom()
    // Component m108_Accordion_ItemHead
    .m108_Accordion_item__head&attributes(attributes)
        if block
            block
    // END - m108_Accordion_ItemHead

mixin m108_Accordion_ItemInner()
    // Component m108_Accordion_ItemHead
    .m108_Accordion_item__wrap&attributes(attributes)
        .m108_Accordion_item__inner
            if block
                block
    // END - m108_Accordion_ItemHead
