include ../../../components/NavigationModules/m532_Showroom_Navigation/index


+m532_Showroom_Navigation('Новый Volkswagen Passat Variant', '1 759 000', [
    'Обзор',
    'Спецпредложения',
    'Особенности нового Passat Variant',
    'Технологии',
    'Комплектации и цены',
    'Технические характеристики',
    'Новый Passat Variant в наличии'
])
