mixin input(title, placeholder, icon, error_text)
    // Component vwd5_input
    -
        type= attributes.type || "text"
        id = unique_id();

    div.input.vwd5_input.js_error_container
        // TODO: add icon
        label.input__title(for= attributes.id || id)
            != title
        .input__group
            if icon
                .hasicon.input__icon(class=icon)
            input.input__field(id = id, type=type, placeholder=placeholder)&attributes(attributes)
            .hasicon.icon-quickaccess-close.input__clear
        span.input__help-block.error-container
            != error_text
    // END vwd5_input
