mixin dot-list()
    // Component vwd5_dot_list
    ul.vwd5_dot_list&attributes(attributes)
        if block
            block
    // END vwd5_dot_list
mixin ordered-list()
    // Component vwd5_ordered_list
    ol.vwd5_ordered_list&attributes(attributes)
        if block
            block
    // END vwd5_ordered_list

mixin list-item()
    // Component vwd5_list_item
    li.vwd5_list_item&attributes(attributes)
        if block
            block
    // END vwd5_list_item
