@import "../../../globals/style/core";

%vwd5-list-common {
  //padding: rem(20px) 0 rem(30px);
  padding: 0;
  margin: rem(20px) 0 rem(30px);
  padding: 0;
  counter-reset: vwd5-list-counter;
  list-style: none;
  %vwd5-list-common {
    margin-left: rem(-36px);
    padding-bottom: rem(20px);
  }
}

%vwd5-list-common {
  %vwd5-list-common {
    padding-left: span(1 of 12);
    %vwd5-list-common {
      padding-left: span(1 of 11);
      %vwd5-list-common {
        padding-left: span(1 of 10);
        %vwd5-list-common {
          padding-left: span(1 of 9);
        }
      }
    }
  }
}

.base-typo li,.vwd5_list_item {
  margin-bottom: rem(10px);
  padding-left: rem(36px);
  &:before {
    display: inline-block;
    counter-increment: vwd5-list-counter;
    padding-left: (10px);
    width: (36px);
    margin-left: rem(-36px);
  }
  &:last-child {
    margin-bottom: 0;
  }
}


// ul's
.vwd5_dot_list {
  @extend %vwd5-list-common;

  > .vwd5_list_item {
    &:before {
      content: counter(vwd5-list-counter, disc);
    }
  }
}

.base-typo ul {
  @extend %vwd5-list-common;
  > li  {
    &:before {
      content: counter(vwd5-list-counter, disc);
    }
  }
}


// ol's
.vwd5_ordered_list {
  @extend %vwd5-list-common;

  > .vwd5_list_item {
    &:before {
      content: counter(vwd5-list-counter, decimal) ".";
    }
  }
}

.base-typo ol {
  @extend %vwd5-list-common;

  > li {
    &:before {
      content: counter(vwd5-list-counter, decimal) ".";
    }
  }
}
