include ../../../components/StageModules/m310_Editorial_Stage/index

+m310_Editorial_Stage(loremIpsum.slice(0, 20), [
    ['#', 'Акции', 'icon-quickaccess-offer', ''],
    ['#', 'Записаться</br>на сервис', 'icon-quickaccess-service', ''],
    ['#', 'Пройти</br>тест-драйв', 'icon-quickaccess-testdrive', ''],
    ['#', 'Контакты', 'icon-quickaccess-home', '']
])
