@import "../../../globals/style/core";

.vw_m503 {
  &_quick_access {
    z-index: z-index(ontop);
    @include container();
  }
  &_quick_access_row {
    font-size: 0;
    white-space: nowrap;
    @include media($tablet) {
      text-align: right;
    }
  }

  &_icon_quick_access {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2rem;
    width: 25%;
    padding: 0 3px;
    text-align: center;
    box-sizing: border-box;
    white-space: normal;

    @include media($tablet) {
      width: auto;
      margin: 0 0 0 32px;

      &:first-child {
        margin: 0;
      }
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &_icon_quick_access:hover &_link_icon {
    background: rgba($grey_100, .5);
  }

  &_link_icon {
    position: relative;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: rgba($grey_100, .3);
    margin: auto;
    color: #fff;
    margin-bottom: 6px;

    &::before {
      font-size: 2.8rem;
      line-height: 30px;
    }
  }

  &_link_label {
    color: $grey_100;
    word-wrap: break-word;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $trans_basis;
  }

  &_quick_access.is-light,
  .is-light &_quick_access,
  &_quick_access_inverted {

    .vw_m503_link_label {
      color: $inverted;
    }
  }
}
