mixin dealer_toggle_switch_corporative(id, name)
    -id = id || unique_id()
    div.vwd5_toggle_switch
        input.vwd5_toggle_switch__input(type="checkbox", name=(name || id), id=id, hidden)
        label.vwd5_toggle_switch__inner(for=id)
            span.vwd5_toggle_switch__state.vwd5_toggle_switch__state--off.hasicon.icon-quickaccess-dealer
            span.vwd5_toggle_switch__state.vwd5_toggle_switch__state--on.hasicon.icon-quickaccess-corporate-topics


