@import "../../../globals/style/core";

$media-map: (
  m011: 1 1,
  m013: 16 9,
  m015: 11 5,
  m016: 32 9,
  m017: 378 143
);

%MediaModule {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;


  &__image-wrapper {
    display: block;
    width: 100%;
    position: relative;
    margin: 0;
    background: url(./spinner.svg) center / rem(60px) no-repeat;
    &:focus {
      outline: none;
    }
    &:before {
      display: block;
      content: "";
      width: 100%;
    }
    &.is-loaded {
      background: none;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @include object-fit(cover);
  }

  &__caption {
    display: block;
    margin-top: rem(5px);
    @include responsive-typo($bodycopy-b4);
  }
}

@each $n, $v in $media-map {
  .#{$n}_media_#{nth($v, 1)}x#{nth($v, 2)} {
    @extend %MediaModule;
    &__image-wrapper {
      @extend %MediaModule__image-wrapper;
      &:before {
        padding-top: (nth($v, 2) / nth($v, 1)) * 100%;
      }
      &.is-contained {
        .#{$n}_media_#{nth($v, 1)}x#{nth($v, 2)}__image {
          @include object-fit(contain);
        }
      }
    }

    &__image {
      @extend %MediaModule__image;
    }

    &__caption {
      @extend %MediaModule__caption;
    }
  }
}
