mixin image_template(image, responsive, className)
    -
        var _isArray = require('lodash/isArray');
        responsive = responsive || false;
        if(!(_isArray(responsive)) && responsive !== false) {
            responsive = [ responsive ]
        }

        image = image || require('components/BasicModules/Media/placeholder.png')

    picture(class=className + '__picture')
        if responsive
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            // <source data-srcset="img_path" med
            each breakpoint in responsive
                source(data-srcset=breakpoint.src, media=breakpoint.media)
            <!--[if IE 9]></video><![endif]-->
        img(data-src=image, data-srcset="", alt="", title="", class="m013_media_16x9__image")&attributes(attributes)


mixin media_template(className, image, responsive, caption, link)
    - className = (className || 'image').toLowerCase();
    figure(class=className)
        // !HTML_01_01.03.2016
        if link
            a(class=className + '__image-wrapper',href=link)&attributes(attributes)
                +image_template(image, responsive, className)
        else
            div(class=className + '__image-wrapper')&attributes(attributes)
                +image_template(image, responsive, className)
        if caption
            figcaption(class=className + '__caption')
                !=caption

