@import "../../../globals/style/core";

.m200 {
  @include clearfix();
  height: auto;
  text-align: center;
  font-size: 0;

  &__image-wrapper {
    margin: auto auto rem(20px);
    width: 100%;
    @include media($tablet) {
      margin: auto auto rem(30px);
    }
  }

  &__inner {
    @include responsive-typo($bodycopy-b1);
  }

  &__content + &__footer {
    margin-top: rem(20px);
  }

  &__subline,
  &__headline,
  &__copy,
  &__button,
  &__textlink {
    margin-bottom: rem(10px);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &:focus {
    outline: none;
  }
}

// flex inner behavior
.m200.m200_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .m200__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  .m200__content {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }
}

// m211 next steps float for image on mobile
@include media(media-inverse($tablet)) {
  .m200.m200_mfloat {
    display: block;
    text-align: left;
    .m200__image-wrapper,
    .m200__inner {
      @include gutters();
      @include span(6)
    }

    .m200__image-wrapper {
      padding-left: 0;
    }

    .m200__inner {
      padding-right: 0;
    }

    .m200__button {
      margin-left: 0;
    }
  }
}

// if one element make it 2 col
.m200.m200_singlefloat {
  &:first-child:last-child,
  &:only-child {
    @include media($tablet) {
      @include vertical-align-pseudo();
      display: block;
      text-align: left;

      .m200__image-wrapper,
      .m200__inner {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        margin: {
          top: 0;
          bottom: 0;
        }
        @include gutters();
      }

      .m200__image-wrapper {
        width: span(6 of 12);
      }

      .m200__inner {
        width: span(5 of 12);
        margin-left: span(1 of 12);
      }

      .m200__button {
        margin-left: 0;
      }

      &.m200_singlefloat_reversed {
        .m200__image-wrapper,
        .m200__inner {
          position: relative;
        }

        .m200__image-wrapper {
          left: span(6 of 12);
        }

        .m200__inner {
          left: span(-7 of 12);
        }
      }
    }


    @include media($desktop) {
      .m200__image-wrapper,
      .m200__inner {
        @include gutters();
      }
    }
    @include media($widescreen) {
      .m200__image-wrapper,
      .m200__inner {
        @include gutters();
      }
    }


    &:not(.m200_singlefloat_reversed) {
      .m200__image-wrapper{
        padding-left: 0;
      }

      .m200__inner {
        padding-right: 0;
      }
    }

    &.m200_singlefloat_reversed {
      .m200__image-wrapper{
        padding-right: 0;
      }

      .m200__inner {
        padding-left: 0;
      }
    }
  }
}
