include ../../BasicModules/Media/m013_Media_16x9/index
include ../../BasicModules/Media/m011_Media_1x1/index
include ../../BasicModules/Headline/m022_Headline_H3/index
include ../../BasicModules/Headline/m024_Headline_H5/index
include ../../UI_Elements/button/index
include ../../UI_Elements/link/index

mixin m200_Basic_Content_Teaser(teaser, horizontal, override_class)
    - teaser = teaser || {}
    // Component m200_Basic_Content_Teaser
    section.m200(class=(teaser.single_reversed ? 'm200_singlefloat_reversed' : ''))&attributes(attributes)
        .m200__image-wrapper(class=(override_class ? override_class + '__image-wrapper' : ''), class=(teaser.icon ? 'is-icon-contain' : ''))
            if teaser.image
                +m013_Media_16x9(teaser.image, [], false, teaser.link).m200__img-16x9(class=(override_class ? override_class + '__img-16x9' : ''), class=(teaser.image_contain ? 'is-contained' : '' ))
            else if teaser.icon
                +m011_Media_1x1(teaser.icon, [], false, teaser.link).m200__img-1x1(class=(override_class ? override_class + '__img-1x1' : ''), class=(teaser.image_contain ? 'is-contained' : '' ))
        // !HTML 22.03
        .m200__inner(class=(override_class ? override_class + '__inner' : ''))
            .m200__content(class=(override_class ? override_class + '__content' : ''))
                if teaser.subline
                    // m200__subline is optional
                    +m024_Headline_H5(false).m200__subline(class=(override_class ? override_class + '__subline' : ''))
                        != teaser.subline
                +m022_Headline_H3.m200__headline(class=(override_class ? override_class + '__headline' : ''))
                    != teaser.headline
                if teaser.copy
                    // m200_copy is optional
                    p.m200__copy(class=(override_class ? override_class + '__copy' : ''))
                        != teaser.copy
            .m200__footer(class=(override_class ? override_class + '__footer' : ''))
                // m200_button is optional
                if teaser.button_text
                    +btn('a', (teaser.button_text || 'Узнать больше'))(class="btn_cta btn_center m200__button " + (override_class ? override_class + '__button' : '') href=(teaser.link || '#'))
                if teaser.hasOwnProperty('optional') && teaser.optional.hasOwnProperty('ghost_button')
                    +btn('a', (teaser.optional.ghost_button.button_text || 'Узнать больше'))(class="btn_center m200__button " + (override_class ? override_class + '__button' : '') href=(teaser.optional.ghost_button.link || '#'))
                if teaser.link_text
                    // m200_copylink is optional
                    +textlink(teaser.link,'standardlink')(class="m200__textlink " + (override_class ? override_class + '__textlink' : ''))
                        !=teaser.link_text
    // END m200_Basic_Content_Teaser
