include ../template
mixin m013_Media_16x9(image, responsive, caption, link)
    // Component m013_Media_16x9
    +media_template('m013_Media_16x9', image, responsive, caption, link)&attributes(attributes)
    // END m013_Media_16x9
