mixin m024_Headline_H5(semantic)
    -semantic = typeof semantic === 'boolean' ? semantic : true
    // Component m024_Headline_H5
    if semantic
        h5.m024_Headline_H5&attributes(attributes)
            if block
                block
    else
        .m024_Headline_H5&attributes(attributes)
            if block
                block
    // END m024_Headline_H5
