@import "~globals/style/core";
@import "./dot/index";
.vwd5_dots {
  @include reset-list();
  display: block;
  text-align: center;
  width: 100%;
  pointer-events: none;
  li {
    display: inline-block;
    margin-right: rem(8px);
    @include media($laptop) {
      margin-right: rem(10px);
    }

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {
      .vwd5_dot {
        background-color: $primary;
      }
    }
  }
}

