include ~components/UI_Elements/button/index
include ../../../BasicModules/Headline/m020_Headline_H1/index
include ../../../BasicModules/Headline/m022_Headline_H3/index
include ../../../BasicModules/Media/m013_Media_16x9/index

mixin m301_homepage_stage_item(header, subheader, link, link_text, img, lightness)
    -
        link = link || '#';
        link_text = link_text || 'Подробнее';
        header = header || 'Новый Volkswagen Tiguan'
        subheader = subheader || 'Загружен в реальность'

    section.row.vw_m301_stage_item(class=lightness ? 'vw_m301_stage_item--'+lightness : '')
        +m013_Media_16x9(img, [
            {
                src: img + '?1023_1x 1x, ' + img + '?1023_2x 2x',
                media: '(max-width: 1023px)'
            },
            {
                src: img + '?1024_1x 1x, ' + img + '?1024_2x 2x',
                media: '(min-width: 1024px)'
            }
        ]).vw_m301_stage_item_img_container
        //picture.vw_m301_stage_item_img_container.js_vw_m301_stage_img_container
        //    source(data-srcset=img media='(min-width: 1024px)')
        //    img.vw_m301_stage_item_img(data-src=img, alt='', title='')
        .vw_m301_stage_item_title
            .gridcontainer
                .grid_12
                    +m020_Headline_H1(false).vw_m301_stage_item_head.js_responsive_header
                        !=header
                    +m022_Headline_H3(false).vw_m301_stage_item_sub.js_responsive_subheader
                        !=subheader
        .vw_m301_stage_item_cta.centred
            +btn('a', link_text)(href=link class='btn_cta btn_center')
