@import "../../../globals/style/core";
@import "item/index";
.m245 {
  padding: {
    top: rem(40px);
    bottom: rem(40px);
  };
  background-color: #fff;


  @include media($laptop) {
    padding: {
      top: rem(80px);
      bottom: rem(80px);
    };
  }

  &__title {
    @include responsive-typo($header-2);
    text-align: center;
    margin-bottom: rem(20px);
    @include media($tablet) {
      margin-bottom: rem(30px);
    }
  }

  &__container {
    position: relative;
  }

  &__title,
  &__inner {
    @include container();
  }

  &__carousel {
    margin-bottom: rem(24px);
    @include media($laptop) {
      margin-bottom: rem(45px);
    }
  }

  &__dots {
    margin-bottom: rem(20px);
  }

  &__complete_list_icon {
    margin-right: 10px;
  }
}
