include ../../BasicModules/Headline/m022_Headline_H3/index
include ../../BasicModules/Headline/m024_Headline_H5/index
mixin m102_Copy(title, subtitle, twoCol)
    - twoCol = twoCol || false;
    // Component m102_Copy
    // HTML 1 17.03.2016
    section.m102(class=twoCol ? 'm102_2column' : '')
        if title
            +m022_Headline_H3.m102__heading
                !=title
        if subtitle
            +m024_Headline_H5.m102__heading
                !=subtitle
        .m102__container
            if block
                block
    // END m102_Copy

