include ../../BasicModules/Media/m013_Media_16x9/index
include ../../BasicModules/Headline/m023_Headline_H4/index
include ../../BasicModules/Headline/m024_Headline_H5/index

mixin m103_Copy_Media(image, imagepos, additional)
    -additional = additional || {};
    -additional.imageCaption = -additional.imageCaption || false;
    -imagepos = imagepos || 'right'
    // Component m103_Copy_Media
    .m103&attributes(attributes)
        if additional.hasOwnProperty('headline') && additional.headline
            +m023_Headline_H4().m103__headline
                !=additional.headline
        if additional.hasOwnProperty('subhead') && additional.subhead
            +m023_Headline_H5().m103__subhead
                !=additional.subhead
        .m103__content
            .m103__image-wrapper(class='is-' + imagepos + '-positioned')
                +m013_Media_16x9(image, [], additional.imageCaption)
            .m103__copy
                if block
                    block
    // END m103_Copy_Media
