@import "fontface";
@import "utility";

.icon-quickaccess-360 {
  @include icon-quickaccess(360);
}
.icon-quickaccess-brochure {
  @include icon-quickaccess(brochure);
}
.icon-quickaccess-business-customers {
  @include icon-quickaccess(business-customers);
}
.icon-quickaccess-calculator {
  @include icon-quickaccess(calculator);
}
.icon-quickaccess-calendar {
  @include icon-quickaccess(calendar);
}
.icon-quickaccess-car {
  @include icon-quickaccess(car);
}
.icon-quickaccess-checkmark {
  @include icon-quickaccess(checkmark);
}
.icon-quickaccess-close {
  @include icon-quickaccess(close);
}
.icon-quickaccess-compare {
  @include icon-quickaccess(compare);
}
.icon-quickaccess-configurator {
  @include icon-quickaccess(configurator);
}
.icon-quickaccess-configure {
  @include icon-quickaccess(configure);
}
.icon-quickaccess-convince {
  @include icon-quickaccess(convince);
}
.icon-quickaccess-corporate-topics {
  @include icon-quickaccess(corporate-topics);
}
.icon-quickaccess-dealer {
  @include icon-quickaccess(dealer);
}
.icon-quickaccess-download {
  @include icon-quickaccess(download);
}
.icon-quickaccess-email {
  @include icon-quickaccess(email);
}
.icon-quickaccess-exclamation-mark {
  @include icon-quickaccess(exclamation-mark);
}
.icon-quickaccess-favourite {
  @include icon-quickaccess(favourite);
}
.icon-quickaccess-fax {
  @include icon-quickaccess(fax);
}
.icon-quickaccess-filter {
  @include icon-quickaccess(filter);
}
.icon-quickaccess-get-your-volkswagen-1 {
  @include icon-quickaccess(get-your-volkswagen-1);
}
.icon-quickaccess-get-your-volkswagen-2 {
  @include icon-quickaccess(get-your-volkswagen-2);
}
.icon-quickaccess-home {
  @include icon-quickaccess(home);
}
.icon-quickaccess-image-gallery {
  @include icon-quickaccess(image-gallery);
}
.icon-quickaccess-image {
  @include icon-quickaccess(image);
}
.icon-quickaccess-importer {
  @include icon-quickaccess(importer);
}
.icon-quickaccess-info {
  @include icon-quickaccess(info);
}
.icon-quickaccess-locate-me {
  @include icon-quickaccess(locate-me);
}
.icon-quickaccess-mail {
  @include icon-quickaccess(mail);
}
.icon-quickaccess-more {
  @include icon-quickaccess(more);
}
.icon-quickaccess-news {
  @include icon-quickaccess(news);
}
.icon-quickaccess-offer {
  @include icon-quickaccess(offer);
}
.icon-quickaccess-owners {
  @include icon-quickaccess(owners);
}
.icon-quickaccess-phone {
  @include icon-quickaccess(phone);
}
.icon-quickaccess-pin {
  @include icon-quickaccess(pin);
}
.icon-quickaccess-preowned {
  @include icon-quickaccess(preowned);
}
.icon-quickaccess-print {
  @include icon-quickaccess(print);
}
.icon-quickaccess-profile {
  @include icon-quickaccess(profile);
}
.icon-quickaccess-question-mark {
  @include icon-quickaccess(question-mark);
}
.icon-quickaccess-reload {
  @include icon-quickaccess(reload);
}
.icon-quickaccess-responsibility {
  @include icon-quickaccess(responsibility);
}
.icon-quickaccess-route {
  @include icon-quickaccess(route);
}
.icon-quickaccess-search {
  @include icon-quickaccess(search);
}
.icon-quickaccess-service {
  @include icon-quickaccess(service);
}
.icon-quickaccess-share {
  @include icon-quickaccess(share);
}
.icon-quickaccess-social-facebook {
  @include icon-quickaccess(social-facebook);
}
.icon-quickaccess-social-googleplus {
  @include icon-quickaccess(social-googleplus);
}
.icon-quickaccess-social-twitter {
  @include icon-quickaccess(social-twitter);
}
.icon-quickaccess-support {
  @include icon-quickaccess(support);
}
.icon-quickaccess-testdrive {
  @include icon-quickaccess(testdrive);
}
.icon-quickaccess-trash {
  @include icon-quickaccess(trash);
}
.icon-quickaccess-upload {
  @include icon-quickaccess(upload);
}
.icon-quickaccess-video {
  @include icon-quickaccess(video);
}
.icon-quickaccess-view {
  @include icon-quickaccess(view);
}
.icon-quickaccess-website {
  @include icon-quickaccess(website);
}
.icon-quickaccess-write {
  @include icon-quickaccess(write);
}
.icon-quickaccess-zoom-in {
  @include icon-quickaccess(zoom-in);
}
.icon-quickaccess-zoom-out {
  @include icon-quickaccess(zoom-out);
}