@mixin icon-quickaccess-styles {
  font-family: "icon-quickaccess"; // shortening font declaration
}

%icon-quickaccess {
  @include icon-quickaccess-styles;
}

%icon-quickaccess-before {
  &:before {
    @include icon-quickaccess-styles;
  }
}

%icon-quickaccess-after {
  &:after {
    @include icon-quickaccess-styles;
  }
}

@function icon-quickaccess-char($filename) {
  $char: "";

  @if $filename == 360 {
    $char: "\E001";
  }

  @if $filename == brochure {
    $char: "\E002";
  }

  @if $filename == business-customers {
    $char: "\E003";
  }

  @if $filename == calculator {
    $char: "\E004";
  }

  @if $filename == calendar {
    $char: "\E005";
  }

  @if $filename == car {
    $char: "\E006";
  }

  @if $filename == checkmark {
    $char: "\E007";
  }

  @if $filename == close {
    $char: "\E008";
  }

  @if $filename == compare {
    $char: "\E009";
  }

  @if $filename == configurator {
    $char: "\E00A";
  }

  @if $filename == configure {
    $char: "\E00B";
  }

  @if $filename == convince {
    $char: "\E00C";
  }

  @if $filename == corporate-topics {
    $char: "\E00D";
  }

  @if $filename == dealer {
    $char: "\E00E";
  }

  @if $filename == download {
    $char: "\E00F";
  }

  @if $filename == email {
    $char: "\E010";
  }

  @if $filename == exclamation-mark {
    $char: "\E011";
  }

  @if $filename == favourite {
    $char: "\E012";
  }

  @if $filename == fax {
    $char: "\E013";
  }

  @if $filename == filter {
    $char: "\E014";
  }

  @if $filename == get-your-volkswagen-1 {
    $char: "\E015";
  }

  @if $filename == get-your-volkswagen-2 {
    $char: "\E016";
  }

  @if $filename == home {
    $char: "\E017";
  }

  @if $filename == image-gallery {
    $char: "\E018";
  }

  @if $filename == image {
    $char: "\E019";
  }

  @if $filename == importer {
    $char: "\E01A";
  }

  @if $filename == info {
    $char: "\E01B";
  }

  @if $filename == locate-me {
    $char: "\E01C";
  }

  @if $filename == mail {
    $char: "\E01D";
  }

  @if $filename == more {
    $char: "\E01E";
  }

  @if $filename == news {
    $char: "\E01F";
  }

  @if $filename == offer {
    $char: "\E020";
  }

  @if $filename == owners {
    $char: "\E021";
  }

  @if $filename == phone {
    $char: "\E022";
  }

  @if $filename == pin {
    $char: "\E023";
  }

  @if $filename == preowned {
    $char: "\E024";
  }

  @if $filename == print {
    $char: "\E025";
  }

  @if $filename == profile {
    $char: "\E026";
  }

  @if $filename == question-mark {
    $char: "\E027";
  }

  @if $filename == reload {
    $char: "\E028";
  }

  @if $filename == responsibility {
    $char: "\E029";
  }

  @if $filename == route {
    $char: "\E02A";
  }

  @if $filename == search {
    $char: "\E02B";
  }

  @if $filename == service {
    $char: "\E02C";
  }

  @if $filename == share {
    $char: "\E02D";
  }

  @if $filename == social-facebook {
    $char: "\E02E";
  }

  @if $filename == social-googleplus {
    $char: "\E02F";
  }

  @if $filename == social-twitter {
    $char: "\E030";
  }

  @if $filename == support {
    $char: "\E031";
  }

  @if $filename == testdrive {
    $char: "\E032";
  }

  @if $filename == trash {
    $char: "\E033";
  }

  @if $filename == upload {
    $char: "\E034";
  }

  @if $filename == video {
    $char: "\E035";
  }

  @if $filename == view {
    $char: "\E036";
  }

  @if $filename == website {
    $char: "\E037";
  }

  @if $filename == write {
    $char: "\E038";
  }

  @if $filename == zoom-in {
    $char: "\E039";
  }

  @if $filename == zoom-out {
    $char: "\E03A";
  }


  @return $char;
}

@mixin icon-quickaccess($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-quickaccess-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-quickaccess-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-quickaccess-char($filename);
  }
}