@import "../../../globals/style/core";


.mk267 {
  @include container();
  @extend %head-module-spacing;

  &__title {
    text-align: center;
    margin-bottom: rem(30px);

    @include media($tablet) {
      margin-bottom: rem(45px);
    }
  }

  &__container {
    @include grid-container();
  }
}

.mk267_item {
  @include span(12);

  @include media($fablet) {
    @include gallery(6 of 12);
  }

  @include media($tablet) {
    @include gallery(4 of 12);
  }

  @include media($laptop) {
    @include gallery(4 of 12);
  }

  @include media($desktop) {
    @include gallery(4 of 12);
  }

  @include media($widescreen) {
    @include gallery(4 of 12);
  }

  &__image-wrapper {
    margin-bottom: rem(15px);
    @include media($tablet) {
      margin-bottom: rem(20px);
    }
  }

  &__info {
    @include clearfix();
  }

  &__quantity {
    @include push(1.8 of 12);
    float: left;
    font-size: rem(34px);
    color: $grey_40;
    font-weight: bold;
    font-family: $font_head;
    letter-spacing: -2.4px;
    line-height: 0.97;
    margin-right: rem(10px);
    @include media($fablet) {
      @include push(.9 of 6);
    }
    @include media($tablet) {
      @include push(.6 of 4);
    }

    @include media($laptop) {
      @include push(.6 of 4);
    }

    @include media($desktop) {
      @include push(.6 of 4);
    }

    @include media($widescreen) {
      @include push(.6 of 4);
      font-size: rem(40px);
    }
  }

  &__name {
    @include responsive-typo($bodycopy-b2-bold);
    @include responsive-typo($bodycopy-b1-bold, from $widescreen);
    margin-top: 1px;
  }

  &__price {
    @include responsive-typo($bodycopy-b4);
    margin-top: rem(-4px);

    @include media($widescreen) {
      @include responsive-typo($bodycopy-b3);
    }
  }
}
