@import "../../../globals/style/core";

.m520 {
  @include clearfix();
}

// go to top bar for footer
.vw_m520_topbar {
  @include container();
  background-color: $grey_20;
  height: rem(35px);
  padding: {
    top: (35-23) / 2 * 1px;
    bottom: (35-23) / 2 * 1px;
  }
  @include media($tablet) {
    padding: {
      top: (35-22) / 2 * 1px;
      bottom: (35-22) / 2 * 1px;
    }
  }
}

.vw_m520_topbar_text {
  @include responsive-typo($bodycopy-b1, to $tablet);
  @include media($laptop) {
    @include responsive-typo($bodycopy-b2);
  }
}

.vw_m520_topbar_icon {
  font-size: 1rem;
  margin-left: 2rem;
  position: relative;
  bottom: 1px;
}

.vw_m520_disc {
  @include responsive-typo($bodycopy-b4);
}

.vw_m520_links {
  margin-bottom: rem(25px);
}

.vw_m520_links_url {
  color: $grey_80;
  .vw_m520_hide {
    @include media($tablet) {
      display: inline-block;
    }
  }
}

// Links
.vw_m520_links_row:first-child .vw_m520_links_element__inner,
.vw_m520_social_element:first-child {
  border-top: none;
  height: 50px;
}

.vw_m520_legal {
  margin-bottom: rem(50px);
}

.vw_m520_links_element__inner,
.vw_m520_social_element {
  padding: 0 1rem;
  border-top: 1px solid $grey_20;
  height: 49px;
  @include vertical-align-pseudo();
  .vw_m520_links_url {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    position: relative;
  }

}

.vw_m520_social_links {
  text-align: center;
  padding: rem(25px) 0;
  @include media($tablet) {
    text-align: left;
    padding: 0;
    &:after {
      display: none;
    }
  }
}

.vw_m520_social_element {
  @include media(media-inverse($tablet)) {
    display: inline-block;
    border: none;
    height: auto;
    margin: rem(5px) rem(10px);
    padding: 0;
    //margin-right: rem(16px);
    //&:last-child {
    //  margin-right: 0;
    //}

  }
}

.vw_m520_social__icon {
  @include size(rem(40));
  display: inline-block;

  text-align: center;
  background-color: rgba($grey_100, .3);
  border-radius: 50%;
  color: #fff;
  font-size: rem(40);
  line-height: rem(40);

  @include media($tablet) {
    @include size(rem(25));
    line-height: rem(25);
    margin-right: rem(-25);
    vertical-align: middle;
    //font-size: rem(25);

    &:before {
      font-size: rem(26px);
      display: block;
    }

    + span {
      padding-left: rem(35);
      vertical-align: middle;
      position: relative;
      bottom: -2px;
    }
  }

  .vw_m520_social_element:hover & {
    background-color: $primary_hover;
  }
}

// Footer legal block
.vw_m520_legal_links {
  overflow: hidden;
}

.vw_m520_legal_element {
  display: inline-block;
  margin-left: -2rem;
  //margin-right:;

  &:before {
    content: '|';
    margin-right: rem(5px);
  }
}

.vw_m520_legal_url {
  padding: 0 3.2rem 0 1rem;
}

// Dislaimer
.vw_m520_disc {
  margin-bottom: rem(50px);
}

.vw_m520_disc_text {
  padding-left: 8px;
  &:before {
    content: '*';
    margin-left: -8px;
  }
}

// Footer visibility
.vw_m520_hide {
  display: none;
  @include media($tablet) {
    display: block;
  }
}

.vw_m520_show {
  @include media($tablet) {
    display: none;
  }
}
