- 
	var topBarMenuItems = [{
			title:'Заявки',
			is_active: false
		},
		{
			title:'Тест-драйв',
			is_active: false
		}, 
		{
			title:'Кредит',
			is_active: true
		},
		{
			title:'Trade-in',
			is_active: false
		},
		{
			title:'Автомобили',
			is_active: false
		}]

mixin topBar
	.top-bar__container
		.top-bar__first-level
			.top-bar__right-part
			nav.top-bar__nav
				ul.top-bar__nav-list
					each item in topBarMenuItems
						li.top-bar__nav-item(class= item.is_active ? 'is_active' : '')
							a.top-bar__nav-link(href="#")= item.title
			.top-bar__show-more--desktop.hasicon.masterpage_icon.icon-nextstep-more
		.top-bar__second-level
			nav.top-bar__nav
				ul.top-bar__nav-list
					each item in topBarMenuItems
						li.top-bar__nav-item(class= item.is_active ? 'is_active' : '')
							a.top-bar__nav-link(href="#")= item.title