@import "../../../globals/style/core";

$topBarHeight: 70px;
$topBarMobile: 50px;

.top-bar__container{
	@include container();
	height: $topBarHeight;
	background-color: $primary;
}
.top-bar__first-level{
	@include clearfix();
}
.top-bar__second-level{
	@include clearfix();
	position: absolute;
	top: $topBarHeight + 1px;
}
.top-bar__nav{
	float: left;
}
.top-bar__nav-list{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	white-space: nowrap;
}
.top-bar__nav-item{
	display: inline-block;
	height: 100%;
	margin: 0 1.5rem;
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
}
.top-bar__nav-link{
	@extend %b1;
	display: block;
	position: relative;
	line-height: $topBarHeight;
	height: $topBarHeight;
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	box-sizing: border-box;
	transition: all $duration;

	.is_active &{
			border-color: #fff;
	}
}

.top-bar__show-more--desktop{
	position: relative;
	height: $topBarHeight;
	width: $topBarHeight;
	float: left;
	cursor: pointer;
	&:before{
		color: $grey_40;
		position: absolute;
		color: #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 22px;
	}
}
