include ../../BasicModules/Media/m016_Media_32x9/index
include ../../BasicModules/Headline/m020_Headline_H1/index
include ../../NavigationModules/m503_QuickAccessBar/index

mixin m310_Editorial_Stage(title, icons, image, isDark)
    section.m310_es(class = isDark ? 'is-dark' : 'is-light')
        +m016_Media_32x9(image).m310_es_bg
        .m310_es_container
            if icons
                +m503_quick_access_bar(icons).m310_es_qab
            if title
                +m020_Headline_H1().m310_es_headline
                    !=title
