extends ../../../globals/layout/_layout_dws

include ../../../components/ContentModules/m155_Highlight_Module/index
include ../../../components/ContentModules/m101_Intro_Copy/index
include ../../../components/ContentModules/m102_Copy/index
include ../../../components/ContentModules/m151_Introcopy/index
include ../../../components/StageModules/m341_Showroom_Stage/index
include ../../../components/NavigationModules/mk504_Dealer_ID/index
include ../../../components/FunctionalModules/mk613_ModelPreview/index
include ../../../components/TeaserModules/m211_Next_Steps_Teaser/index
include ../../../components/TeaserModules/m212_Shopping_Teaser/index
include ../../../components/TeaserModules/m246_Trim_Selector/index

block data
    -
        var data = {
            pageTitle: 'Title here',
            bodyClass: ''
        };

block content
    include ../../../presets/dws/showroom/navigation
    +m341_Showroom_Stage()
    include ../../../presets/dws/mk504_dealer_id
    +mk613_ModelPreview(
    {
        old: '1 670 000',
        new: '1 570 000'
    },
    '1 570 000',
    false,
    [
        {
            icon: 'engine',
            label: 'Объем от:',
            value: '1,4 л'
        },
        {
            icon: 'fuel-consumption',
            label: 'Расход от:',
            value: '5,2 л'
        },
        {
            icon: 'spin',
            label: 'Трансмиссия:',
            value: 'АКП'
        },
        {
            icon: 'trunk',
            label: 'Багажник',
            value: '1 700 л'
        }
    ]
    )

    +m211_Next_Steps_Teaser([
        {
            headline: 'Получить спеццену',
            copy: 'Оставьте заявку — и мы подготовим спецпредложение, от которого Вы не сможете отказаться.',
            image: require('_temp_images/teaser_icons/bc.png'),
            image_contain: true,
            link_text: 'Оставить заявку',
            link: '',
            icon_align: true
        },
        {
            headline: 'В наличии',
            copy: 'Все автомобили в наличии в Фольксваген Центре Комсомольск-на-Амуре.',
            image: require('_temp_images/teaser_icons/contacts.png'),
            image_contain: true,
            link_text: 'Автомобили в наличии',
            link: '',
            icon_align: true
        },
        {
            headline: 'Конфигуратор',
            copy: 'Воспользуйтесь комфортным и быстрым способом выбора конфигурации автомобиля.',
            image: require('_temp_images/teaser_icons/service.png'),
            image_contain: true,
            link_text: 'Создать свой Volkswagen',
            link: '',
            icon_align: true
        }
    ])

    +m151_Introcopy('Информация марки Volkswagen')
        | Независимость — результат внутренней силы и свободы и способность демонстрировать их окружающим. Превосходство Passat сразу бросается в глаза. Наиболее выразительные элементы новой модели — эффектные светодиодные фары и задние фонари, а также динамичные боковые обводы. Удлинённая база и более короткие свесы придают облику новой модели энергичную элегантность. Passat выглядит просто замечательно.

    +m101_Intro_Copy('Информация марки Volkswagen')
        .grid_12
            | Независимость — результат внутренней силы и свободы и способность демонстрировать их окружающим. Превосходство Passat сразу бросается в глаза. Наиболее выразительные элементы новой модели — эффектные светодиодные фары и задние фонари, а также динамичные боковые обводы. Удлинённая база и более короткие свесы придают облику новой модели энергичную элегантность. Passat выглядит просто замечательно.

    +m101_Intro_Copy('Информация марки Volkswagen', {href: '#', text: 'Текст кнопки'}, {
        href: '#',
        text: 'Текст ссылки'
    })
        .grid_12.grid_sm_6
            | Независимость — результат внутренней силы и свободы и способность демонстрировать их окружающим. Превосходство Passat сразу бросается в глаза.
        .grid_12.grid_sm_6
            | Наиболее выразительные элементы новой модели — эффектные светодиодные фары и задние фонари, а также динамичные боковые обводы. Удлинённая база и более короткие свесы придают облику новой модели энергичную элегантность. Passat выглядит просто замечательно.

    +m155_Highlight_Module('Акции и спецпредложения',[
        {
            image: require('_temp_images/offers_photo/offer1.jpg'),
            subline: 'Покупка',
            headline: 'Зимние радости с Volkswagen',
            copy: 'Зимние радости с Volkswagen',
            button_text: 'Узнать больше',
            link: '/offers/special-offer',
            optional: {
                ghost_button: {
                    button_text: 'Посмотреть все акции по покупке'
                }
            }
        },
        {
            image: require('_temp_images/offers_photo/offer2.jpg'),
            subline: 'Кредитование',
            headline: 'Зимние радости с Volkswagen',
            copy: 'Зимние радости с Volkswagen',
            button_text: 'Узнать больше',
            link: '/offers/special-offer',
            optional: {
                ghost_button: {
                    button_text: 'Посмотреть все акции по кредиту'
                }
            }
        },
        {
            image: require('_temp_images/offers_photo/offer3.jpg'),
            subline: 'Сервис',
            headline: 'Зимние радости с Volkswagen',
            copy: 'Зимние радости с Volkswagen',
            button_text: 'Узнать больше',
            link: '/offers/special-offer',
            optional: {
                ghost_button: {
                    button_text: 'Посмотреть все акции по сервису'
                }
            }
        },
    ])

    include ../../../presets/dws/showroom/gallery

    +m246_Trim_Selector('Доступные комплектации', 'Приобретайте машину своей мечты Volkswagen Passat Variant в ' +
    '«Фольксваген Центре Комсомольск-на-Амуре»! Огромный выбор машин на складах компании ждет вас.', 'Passat Variant')

    +m212_Shopping_Teaser([
        {
            headline: 'Получить спеццену',
            copy: loremIpsum.slice(0, 150),
            image: require('_temp_images/teaser_icons/bc.png'),
            image_contain: true,
            link_text: 'Оставить заявку',
            link: '',
            icon_align: true
        },
        {
            headline: 'В наличии',
            copy: loremIpsum.slice(0, 70),
            image: require('_temp_images/teaser_icons/contacts.png'),
            image_contain: true,
            link_text: 'Автомобили в наличии',
            link: '',
            icon_align: true
        },
        {
            headline: 'Конфигуратор',
            copy: loremIpsum.slice(0, 15),
            image: require('_temp_images/teaser_icons/service.png'),
            image_contain: true,
            link_text: 'Создать свой Volkswagen',
            link: '',
            icon_align: true
        }
    ],
    [
        {
            icon: 'brochure',
            text: loremIpsum.slice(0, 30),
        },
        {
            icon: 'offer',
            text: loremIpsum.slice(0, 15),
        },
        {
            icon: 'get-your-volkswagen-1',
            text: loremIpsum.slice(0, 25),
        }
    ])

    +m102_Copy('Произвольный SEO-текст')
        p Компания Фольксваген Центр Комсомольск-на-Амуре является официальным дилером марки Volkswagen (Фольксваген). Специализированные автоцентры компании расположены на 3-м км внешней стороны МКАД, на Новоясеневском проспекте, 6 и на Волоколамском шоссе, 95.
        p Коммерческие автомобили Volkswagen (Фольксваген), официально сертифицированные для продажи на территории России, можно приобрести и обслужить в автоцентре на Волоколамском шоссе, 95 и на Новоясеневском проспекте, 6.
        p Посетители могут выбрать автомобиль в шоу-руме, внимательно изучить модель, задать любые вопросы высококвалифицированным консультантам и окончательно определиться в выборе, проверив машину на тест-драйве.
        p Техническое оснащение автоцентра полностью соответствует требованиям производителя и позволяет оперативно и с высочайшим качеством проводить все виды работ по диагностике, ремонту и техническому обслуживанию коммерческих автомобилей марки.
        p Персонал центра прошел обязательное обучение и квалификационную сертификацию в специализированном центре подготовки компании-производителя.
        p У нас работает специальная Служба контроля качества, в обязанности которой входит постоянный мониторинг удовлетворенности клиентов работой компании, выявление и устранение возможных проблем.
        p Компания обладает большим опытом работы с корпоративными клиентами, в числе которых МВД РФ, МЧС РФ, ФСО РФ, Верховный суд РФ, ОАО «Российские железные дороги», ОАО «Международный аэропорт Шереметьево», Газпром, Лукойл, ТНК-BP, Gillette, IKEA, Ашан, ЗАО «Пивоварня Москва-Эфес» и многие другие.


    +m102_Copy('Произвольный SEO-текст', false, true)
        p Компания Фольксваген Центр Комсомольск-на-Амуре является официальным дилером марки Volkswagen (Фольксваген). Специализированные автоцентры компании расположены на 3-м км внешней стороны МКАД, на Новоясеневском проспекте, 6 и на Волоколамском шоссе, 95.
        p Коммерческие автомобили Volkswagen (Фольксваген), официально сертифицированные для продажи на территории России, можно приобрести и обслужить в автоцентре на Волоколамском шоссе, 95 и на Новоясеневском проспекте, 6.
        p Посетители могут выбрать автомобиль в шоу-руме, внимательно изучить модель, задать любые вопросы высококвалифицированным консультантам и окончательно определиться в выборе, проверив машину на тест-драйве.
        p Техническое оснащение автоцентра полностью соответствует требованиям производителя и позволяет оперативно и с высочайшим качеством проводить все виды работ по диагностике, ремонту и техническому обслуживанию коммерческих автомобилей марки.
        p Персонал центра прошел обязательное обучение и квалификационную сертификацию в специализированном центре подготовки компании-производителя.
        p У нас работает специальная Служба контроля качества, в обязанности которой входит постоянный мониторинг удовлетворенности клиентов работой компании, выявление и устранение возможных проблем.
        p Компания обладает большим опытом работы с корпоративными клиентами, в числе которых МВД РФ, МЧС РФ, ФСО РФ, Верховный суд РФ, ОАО «Российские железные дороги», ОАО «Международный аэропорт Шереметьево», Газпром, Лукойл, ТНК-BP, Gillette, IKEA, Ашан, ЗАО «Пивоварня Москва-Эфес» и многие другие.

