mixin m021_Headline_H2(semantic)
    -semantic = typeof semantic === 'boolean' ? semantic : true
    // Component m021_Headline_H2
    if semantic
        h2.m021_Headline_H2&attributes(attributes)
            if block
                block
    else
        .m021_Headline_H2&attributes(attributes)
            if block
                block
    // END m021_Headline_H2
