@import "../../../globals/style/core";

.mk613 {
  @extend %head-module-spacing;
  overflow: hidden;

  &__container {
    @include container();
  }

  &__container,
  &__additional-inner {
    @include kdx-grid-container();
  }

  &__price {
    text-align: center;
    @include media($tablet) {
      text-align: left;
    }
  }

  &__price,
  &__model {
    @include span(12);

    @include media($tablet) {
      @include span(6);
    }
    @extend %gutters;
  }

  &__colors {
    position: relative;
    margin-top: rem(21px);
    padding: 0 rem(25px);
    &__item {
      &:focus {
        outline: none;
      }
    }

    &__controls {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
    }
  }

  &__color-label {
    margin-top: rem(7px);
    text-align: center;
    @include responsive-typo($bodycopy-b1);
    color: $zeplin-steel;
  }

  &__additional {
    @include span(12);
    @extend %gutters;
    margin-top: rem(40px);
    @include media($tablet) {
      margin-top: rem(80px);
    }
  }
}

.mk613_price_main {
  margin-bottom: rem(15px);
  @include media($tablet) {
    padding-top: rem(13px);
  }

  &__price {
    margin-bottom: rem(5px);
  }

  &__old-price {
    text-decoration: line-through;
    color: $zeplin-silver;
    .icon {
      text-decoration: none;
    }
  }

  &__link {
    margin-top: rem(13px);
    @include media($tablet) {
      margin-top: rem(10px);
    }
  }
}

.mk613_price_credit {
  margin-top: rem(30px);
  margin-bottom: rem(15px);

  @include media($tablet) {
    margin-bottom: 0;
  }

  &__link {
    margin-top: rem(5px);
  }
}

.mk613_price_main__label,
.mk613_price_credit__label {
  margin-bottom: rem(4px);
  color: $zeplin-steel;
}

.mk613_price_main__label,
.mk613_price_credit__label,
.mk613_price_main__link,
.mk613_price_credit__link {
  @include responsive-typo($bodycopy-b1);
}

.mk613_additional {
  @include span(6);
  margin-top: rem(30px);

  &:nth-child(-n+2) {
    margin-top: 0;
  }
  @include media($laptop) {
    @include span(3);
    &:nth-child(-n+4) {
      margin-top: 0;
    }
  }
  @extend %gutters;
  @include clearfix();

  &__label {
    @include responsive-typo($bodycopy-b2);
  }

  &__label,
  &__value {
    width: 100%;
    float: left;
    margin-left: - rem(40px);
    padding-left: rem(40px + 8px);
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    @include media($laptop) {
      margin-left: - rem(33px + 22px);
      padding-left: rem(33px + 22px + 15px);
    }
  }

  &__value {
    margin-top: rem(-7px);
    @include media($laptop) {
      margin-top: 0;
    }
  }

  &__icon {
    font-size: rem(40px);
    color: $zeplin-silver;
    @include media($laptop) {
      font-size: rem(33px + 22px);
    }
    float: left;
  }

}

.mk613-color {
  display: block;
  position: relative;
  margin: rem(15px);
  width: rem(40px);
  height: rem(40px);

  &__check {
    display: none;

    &:checked + .mk613-color__mark {
      display: block;
    }
  }

  &__image {
    border-radius: 50%;
    overflow: hidden;
  }

  &__mark {
    display: none;
    line-height: rem(16px);
    position: absolute;
    top: rem(-3px);
    right: rem(-3px);
    height: rem(16px);
    width: rem(16px);
    text-align: center;
    font-size: rem(10px);
    border-radius: 50%;
    border: 1px solid $white;
    color: $white;
    background-color: $zeplin-cerulean;
    &:before {
      line-height: inherit;
    }
  }
}

%gutters {
  @include gutters-default();
}
