@import "fontface";
@import "utility";

.icon-arrow-down-double {
  @include icon-arrow(down-double);
}
.icon-arrow-down {
  @include icon-arrow(down);
}
.icon-arrow-left-double {
  @include icon-arrow(left-double);
}
.icon-arrow-left {
  @include icon-arrow(left);
}
.icon-arrow-right-double {
  @include icon-arrow(right-double);
}
.icon-arrow-right {
  @include icon-arrow(right);
}
.icon-arrow-up-double {
  @include icon-arrow(up-double);
}
.icon-arrow-up {
  @include icon-arrow(up);
}