@mixin icon-arrow-styles {
  font-family: "icon-arrow"; // shortening font declaration
}

%icon-arrow {
  @include icon-arrow-styles;
}

%icon-arrow-before {
  &:before {
    @include icon-arrow-styles;
  }
}

%icon-arrow-after {
  &:after {
    @include icon-arrow-styles;
  }
}

@function icon-arrow-char($filename) {
  $char: "";

  @if $filename == down-double {
    $char: "\E001";
  }

  @if $filename == down {
    $char: "\E002";
  }

  @if $filename == left-double {
    $char: "\E003";
  }

  @if $filename == left {
    $char: "\E004";
  }

  @if $filename == right-double {
    $char: "\E005";
  }

  @if $filename == right {
    $char: "\E006";
  }

  @if $filename == up-double {
    $char: "\E007";
  }

  @if $filename == up {
    $char: "\E008";
  }


  @return $char;
}

@mixin icon-arrow($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-arrow-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-arrow-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-arrow-char($filename);
  }
}