include ../../BasicModules/Headline/m022_Headline_H3/index.pug
include ../../UI_Elements/button/index
include ../../UI_Elements/link/index

mixin m101_Intro_Copy(title, btn, link)
    // Component m101_Intro_Copy
    .m101&attributes(attributes)
        +m022_Headline_H3().m101__heading
            =title
        .m101__content
            if block
                block
        if btn || link
            .m101__footer
                if btn
                    +btn('a', btn.text)(href=btn.href).btn_cta.btn_center.m101__button
                if link
                    +textlink('#', 'standardlink')(href=link.href).m101__link
                        !=link.text
    // END m101_Intro_Copy
