@mixin icon-navigation-styles {
  font-family: "icon-navigation"; // shortening font declaration
}

%icon-navigation {
  @include icon-navigation-styles;
}

%icon-navigation-before {
  &:before {
    @include icon-navigation-styles;
  }
}

%icon-navigation-after {
  &:after {
    @include icon-navigation-styles;
  }
}

@function icon-navigation-char($filename) {
  $char: "";

  @if $filename == business-customers {
    $char: "\E001";
  }

  @if $filename == close {
    $char: "\E002";
  }

  @if $filename == configure {
    $char: "\E003";
  }

  @if $filename == corporate-topics {
    $char: "\E004";
  }

  @if $filename == dealer {
    $char: "\E005";
  }

  @if $filename == get-your-volkswagen-1 {
    $char: "\E006";
  }

  @if $filename == get-your-volkswagen-2 {
    $char: "\E007";
  }

  @if $filename == get-your-volkswagen {
    $char: "\E008";
  }

  @if $filename == home {
    $char: "\E009";
  }

  @if $filename == importer {
    $char: "\E00A";
  }

  @if $filename == menu {
    $char: "\E00B";
  }

  @if $filename == models {
    $char: "\E00C";
  }

  @if $filename == more {
    $char: "\E00D";
  }

  @if $filename == news {
    $char: "\E00E";
  }

  @if $filename == offer {
    $char: "\E00F";
  }

  @if $filename == owners {
    $char: "\E010";
  }

  @if $filename == preowned {
    $char: "\E011";
  }

  @if $filename == profile {
    $char: "\E012";
  }

  @if $filename == responsibility {
    $char: "\E013";
  }

  @if $filename == search {
    $char: "\E014";
  }

  @if $filename == service {
    $char: "\E015";
  }

  @if $filename == volkswagen-live {
    $char: "\E016";
  }


  @return $char;
}

@mixin icon-navigation($filename, $insert: before, $extend: true) {
  @if $extend {
    @extend %icon-navigation-#{$insert};
  } @else {
    &:#{$insert} {
      @include icon-navigation-styles;
    }
  }

  &:#{$insert} {
    //@extend %pseudo-el-class;
    content: icon-navigation-char($filename);
  }
}