include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../BasicModules/Headline/m023_Headline_H4/index
include ../../BasicModules/Media/m017_Media_378x143/index
include ../../UI_Elements/lists/index
include ../../UI_Elements/button/index

mixin m246_trim_item(image, name, price, features)
    -
        features = features || []
        price = price || '';
        price = {
            current: price,
            old: price
        }
        features = new Array(7);
        features = features.map(function(i) {
            return 'Feature';
        });
        console.log(features);
    article.m246_item
        .m246_item__inner
            .m246_item__main
                +m017_Media_378x143(image, false, false, '#').m246_item__image
                +m023_Headline_H4().m246_item__name
                    !=name
                if (typeof price === 'string')
                    .m246_item__price
                        != 'от ' + price + ' руб.'
                else
                    .m246_item__price
                        != 'от ' + price.current + ' руб.'
                    .m246_item__old-price
                        != 'от ' + price.old + ' руб.'
            .m246_item__features
                +dot-list().m246_item__list
                    each feature in features
                        +list-item().m246_item__feature
                            | Feature
                            != feature
            .m246_item__actions
                +btn('a', 'Подробнее').btn_cta.btn_center.m246_item__button
                +btn('a', 'Конфигуратор').btn_center.m246_item__button





mixin m246_Trim_Selector(title, caption, modelName)

    -
        trims = require('components/UI_Elements/Imagery/cars/list.js').models[modelName].kits;
        caption = caption || '';
        title = title || '';
    // Component m246_Trim_Selector
    section.m246
        +m021_Headline_H2().m246__headline
            != title
        .m246__caption
            != caption
        .m246__container
            .m246__inner
                each trim in trims
                    +m246_trim_item(trim.flatImage, trim.name, trim.price, trim.features)
            .m246__dots


    // END - m246_Trim_Selector
