@import "../../../globals/style/core";

.m105 {
  @extend %head-module-spacing;
  @include responsive-typo($bodycopy-b1);
  &__container {
    @include container();
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: rem(15px);
    @include media($tablet) {
      margin-bottom: rem(20px);
    }
  }

  &__copy,
  &__copy2 {
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__controls {
    @include aspect-ratio(16, 4.5);
  }

  &__dots {
    @include aspect-ratio(16, 8.2);
  }

  &__controls,
  &__dots {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }
}
