@import "Nav/Item/index";
@import "Nav/SublayerItem/index";


.vw_page_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: z-index('header');


  @include media($tablet){
    box-shadow: none;
    width: $header_w;
    height: 100vh;
    height: 100%;
    box-shadow: .5rem .4rem 2.0rem rgba(0,0,0,0.1);
  }
}

@include media(media-inverse($tablet)) {
  .vw_page_header + .page-wrapper {
    padding-top: $header_mobile_h;
  }
}


.vw_m502 {
  height: $header_mobile_h;
  @include media($tablet) {
    //position: fixed;
    width: $header_w;
    height: 100vh;
    height: 100%;
    z-index: z-index('main-menu');
  }

  a {
    color: $grey_60;
  }

  a:hover {
    color: $grey_100;
    .vw_m502_icon_wrapper {
      color: $primary;
    }
  }

  a:active {
    color: $primary;
  }

  .is-active {
    a {
      color: $primary;
    }
  }
}

// nav
.vw_m502_main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header_mobile_h;
  background: $grey_20;
  z-index: z-index(ontop);
  transition: all .3s $trans_exit;
  transform: translateY(0);
  will-change: transform;
  @include media(media-inverse($tablet)) {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    &.slide-up {
      transform: translateY(-100%);
      transition: all .3s $trans_enter;

      + .vw_m502_more_sublayer {
        padding-top: 0;
      }
    }
  }

  @include media($tablet) {
    position: absolute;
    width: $header_w;
    top: 0;
    bottom: 0;
    height: 100vh;
    height: 100%;
    z-index: z-index('main-menu');
  }
}


// ul
.vw_m502_sections {
  @include ul_simple;
  background: $bg_white;
  height: $header_mobile_h;
  font-family: $font_head;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: 0;
  overflow: hidden;

  @include media($tablet){
    height: 100%;
  }

  li {
    display: none;

    @include media($tablet) {
      display: block;
    }
  }

  // m501_logo container
  > li:first-child {
    display: block;
  }
  > li:first-child .vw_m502_btn_icon {
    @include media($tablet){
      display: block;
      height: auto;
      position: static;
      width: 100%;
    }
  }

  //li:not(:first-child) a {
  //  @include media($tablet){
  //    display: table-cell;
  //    vertical-align: middle;
  //    text-align: center;
  //    min-height: 8.5rem;
  //  }
  //}
}

.vw_m502_items {
  @include ul_simple;
  display: flex;
  -js-display: flex;
  flex-direction: column;
  width: $header_w;
  > .js_vw_m502_nav_item_flow {
    display: none !important;
  }
  > li:nth-child(n+6),
  > li:nth-child(-n+6):last-child {
    display: none !important;
  }
  > li:nth-child(-n+6):nth-last-child(2) {
    display: block !important;
    + li {
      display: none !important;
    }
    &.js_vw_m502_nav_item_flow {
      display: none !important;
      + li {
        display: block !important;
      }
      + li:last-child {
        display: block !important;
      }
    }
  }
  > li:last-child {
    display: block !important;
  }
}

// Mobile menu switcher
.vw_m502_mobile_switcher {
  position: absolute;
  right: 0;
  top: 0;
  height: $header_mobile_h;
  @include media($tablet) {
    display: none;
  }
  a {
    font-size: 2rem;
    line-height: $header_mobile_h;
    display: block;
    position: absolute;
    right: 0;
    padding-right: 2rem;
    padding-left: 2.5rem;
    height: 100%;
    color: $primary;
    cursor: pointer;

    &::before {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }

    &:last-child {
      display: none;
    }
  }
}

// Hidden submenu
// nav
.vw_m502_more_sublayer {
  position: fixed;
  left: 100%;
  right: -100%;
  padding: $header_mobile_h 2rem 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  background-color: #fff;
  transform: translate3d(0,0,0);
  height: 100%;
  z-index: z-index('main-menu-sub');
  transition-duration: $duration, $duration, 0s;
  transition-property: left, right, opacity;
  transition-timing-function: $trans_exit, $trans_exit, linear;
  transition-delay: 0s, 0s, $duration;
  box-sizing: border-box;

  @include media($tablet) {
    padding-top: 50px;
    width: 24.5rem;
    left: - 24.5rem + $header_w;
    right: auto;
    box-shadow: .5rem -1.0rem 2.0rem rgba(0,0,0,0.1);
  }

  &.is-opened {
    left: 0;
    right: 0;
    opacity: 1;
    transition-timing-function: $trans_enter, $trans_enter, linear;
    transition-delay: 0s;
    border-left: 1px solid $grey_20;

    @include media($tablet) {
      height: 100vh;
      height: 100%;
      left: $header_w;
      right: auto;
    }
  }

  ul {
    @include ul_simple;
  }
}

.vw_m502_more_sublayer__more {
  background-color: $grey_20;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: -2rem;
  margin-right: -2rem;
  @include media($tablet) {
    display: none;
  }
}


