include ../m501_logo/index.pug
include Nav/Item/index
include ../../FunctionalModules/m601_Search_Input_Field/index
include ../../NavigationModules/m503_QuickAccessBar/index


-
    _map = require('lodash/map');

    items = _map(require('globals/fonts/icons/icons.json').navigation, function(iconClass, iconName) {
        return ['#', iconName, iconClass]
    });

header#vw_page_header.vw_page_header
    .vw_m502
        nav.vw_m502_main.js_header_menu
            ul.vw_m502_sections.js_m520_main_sections
                // Logo
                li
                    .vw_m502_btn_icon
                        +m501_logo
                li
                    // !HTML 02.03
                    ul.vw_m502_items.js_m520_main_items(data-style="display: flex; flex-direction: column;")
                        if items
                            each item, key in items
                                +m502_main_navigation_item(item, (key==0))



            // Mobile menu switcher
            .vw_m502_mobile_switcher
                a.hasicon.icon-navigation-menu.js_m502_mob_menu_switcher
                a.hasicon.icon-navigation-close.js_m502_mob_menu_switcher

        nav.vw_m502_more_sublayer.js_m502_submenu
            +m601_search_input_field
            ul.js_m520_sublayer_sections
            .vw_m502_more_sublayer__more
                include ../../../presets/dws/m503_QuickAccessBar

