@import "../../../globals/style/core";
@import "../../../globals/fonts/icons/misc/utility";

.m104 {
  @extend %page-module-spacing;
  @include responsive-typo($bodycopy-b1);
  &__container {
    @include container();
  }

  &__headline {
    margin-bottom: rem(20px);
    @include media($tablet) {
      margin-bottom: rem(30px);
    }
  }

  &__copy {
    margin-bottom: rem(12px);
    @include media($tablet) {
      margin-bottom: rem(20px);
    }
  }

  &__table {
    display: none;
    @include media($tablet) {
      display: block;
    }
  }

  &__mtable {
    @include span(12);
    @extend %gutters-def;
    display: block;
    @include media($tablet) {
      display: none;
    }
  }

  &__thead {
    background-color: $zeplin-silver;
    background-clip: content-box;
    color: $zeplin-dark-grey;
    font-weight: bold;
  }

  &__thead-row {
    @include kdx-grid-container();
  }

  &__tbody {
    overflow: hidden;
  }
}

.m104-col {
  padding: rem(20px) 0;
  padding-right: rem(20px);
  &:focus {
    outline: none;
  }
  &__label {
    display: block;
    @include media($tablet) {
      display: none;
    }
  }
}

.m104-thead__label {
  padding: rem(20px) 0;
  @include media($tablet) {
    @include span(3)
  }
  @extend %gutters-def;
}

.m104-thead__columns {
  position: relative;
  @include media($tablet) {
    @include span(8);
    @include push(1);
  }
  @extend %gutters-def;
}

.m104-thead__controls {
  position: absolute;
  left: 0;
  top: 50%;
  width: span(9 of 8);
  @include push(-1 of 8);
  @extend %gutters-def;
}


.m104-tbody {
  &__row {
    @include kdx-grid-container();
    &:nth-child(odd) {
      background-color: $zeplin-pale-grey;
    }
  }

  &__label {
    padding: rem(20px) 0;
    @include media($tablet) {
      @include span(4);
      .m104-tbody__row_description & {
        @include span(12);
      }
    }
    @extend %gutters-def;
  }

  &__columns {
    @include media($tablet) {
      @include span(8);
    }
    @extend %gutters-def;
  }
}

.m104-thead__inner,
.m104-tbody__inner {
  overflow: hidden;
}

.m104-mobile-item {
  border: none;
  &:last-child {
    border: none;
  }

  &__head {
    background-color: $zeplin-silver;
    color: $zeplin-dark-grey;
    padding-left: span(1);
  }

  &__title {
    @include span(8 of 11);
    @include media($tablet) {
      @include span(9 of 11);
    }
    font-weight: bold;
  }

  &__mark {
    @include span(3 of 11);
    @include media($tablet) {
      @include span(2 of 11);
    }
  }

  &__state {
    width: rem(20px);
    height: rem(20px);
    margin-top: rem(-10px);
    margin-bottom: rem(-10px);
    border-radius: 50%;
    background-color: $zeplin-cerulean;
    color: $white;
    text-align: center;
    &:before {
      line-height: rem(20px);
      font-size: 1em;
    }
    cursor: pointer;

    @include media($tablet) {
      width: rem(25px);
      height: rem(25px);
      margin-top: rem(-12.5px);
      margin-bottom: rem(-12.5px);
      &:before {
        line-height: rem(25px);
      }
    }

    .is-opened &:before {
      content: icon-misc-char(minus);
    }
  }

  &__wrap {
    @include kdx-grid-container();

    > .m108_Accordion_item__inner {
      padding: {
        top: 0;
        bottom: 0;
      };
    }

    .m104-mobile-item-col:nth-child(odd) {
      background-color: $zeplin-pale-grey;
    }
  }
}

.m104-mobile-item-col {
  padding-left: span(1);
  &__inner {
    padding: {
      top: rem(20px);
      bottom: rem(20px);
    };
    @include clearfix();
  }

  &__label,
  &__value {
    @include span(6);
  }
}


%gutters-def {
  @include gutters-default();
}

.m104-thead__label,
.m104-tbody__label,
.m104-tbody__row_description .m104-tbody__label {
  @include media($tablet) {
    padding-left: rem(12px+30px);
  }
  @include media($desktop) {
    padding-left: rem(15px+30px);
  }
  @include media($widescreen) {
    padding-left: rem(18px+30px);
  }
}

.m104-thead__columns,
.m104-tbody__columns {
  padding-right: span(1);
}


