include ../../BasicModules/Headline/m021_Headline_H2/index
include ../../ContentModules/m108_Accordion/index

mixin m104_Table(title, copy, categories, columns)
    -
        categories = categories || Array.apply(null, Array(8)).map(function(v, i) {
            return '/Label'+i+'/'
        });

        columns = columns || Array.apply(null, Array(15)).map(function() {
                return Array.apply(null, Array(categories.length)).map(function(v, i) {
                    return '/// cat'+i+' ///';
                });
        });
    // Component m104_Table
    section.m104
        .m104__container
            +m021_Headline_H2().m104__headline
                !=title || getLorem(25)
            p.m104__copy
                !=copy || getLorem()
            .m104__table
                .m104__thead
                    .m104__thead-row
                        .m104-thead__label
                            !=categories[0]
                        .m104-thead__columns
                            .m104-thead__inner
                                each column, index in columns
                                    .m104-col(data-index=index)
                                        !=column[0]
                            .m104-thead__controls


                .m104__tbody
                    each category, index in categories
                        if index > 0
                            .m104-tbody__row(class=(index%3 === 0 ? 'm104-tbody__row_description' : ''))
                                .m104-tbody__label
                                    !=category
                                if index%3 !== 0
                                    .m104-tbody__columns
                                        .m104-tbody__inner
                                            each column, colindex in columns
                                                .m104-col(data-index=colindex)
                                                    !=index%3 === 0 ? '' : column[index]

            +m108_Accordion_Wrapper.m104__mtable
                each column in columns
                    +m108_Accordion_Item().m104-mobile__category
                        +m108_Accordion_ItemHead_Custom().m104-mobile-item__head
                            .m108_Accordion_item__title.m104-mobile-item__title
                                !=column[0]
                            .m108_Accordion_item__mark.m104-mobile-item__mark
                                +icon('misc', 'plus').m104-mobile-item__state
                        +m108_Accordion_ItemInner().m104-mobile-item__wrap
                            each col_item, index in column
                                if index > 0
                                    .m104-mobile-item-col
                                        .m104-mobile-item-col__inner
                                            .m104-mobile-item-col__label
                                                !=categories[index]
                                            .m104-mobile-item-col__value
                                                !=col_item
    // END - m104_Table
