extends ../../../../globals/layout/_powerlayer

block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };


block content
    include ../../../../presets/dws/powerlayer/gallery
