include ../template
mixin m016_Media_32x9(image, responsive, caption, link)
    // Component m016_Media_32x9
    +media_template('m016_Media_32x9', image, responsive, caption, link)&attributes(attributes)
    // END m016_Media_32x9
