mixin radiobtn(label, name, value)
    label.radiobtn
        input.radiobtn__control(type='radio' name=name value=value)&attributes(attributes)
        .radiobtn__mask
        if label
            span.radiobtn__title
                != label
