@import "fontface";
@import "utility";

.icon-link-back-to-top {
  @include icon-link(back-to-top);
}
.icon-link-compare {
  @include icon-link(compare);
}
.icon-link-configure {
  @include icon-link(configure);
}
.icon-link-contacts {
  @include icon-link(contacts);
}
.icon-link-delete {
  @include icon-link(delete);
}
.icon-link-download {
  @include icon-link(download);
}
.icon-link-email {
  @include icon-link(email);
}
.icon-link-fax {
  @include icon-link(fax);
}
.icon-link-locate-me {
  @include icon-link(locate-me);
}
.icon-link-mail {
  @include icon-link(mail);
}
.icon-link-phone {
  @include icon-link(phone);
}
.icon-link-pin {
  @include icon-link(pin);
}
.icon-link-print {
  @include icon-link(print);
}
.icon-link-reload {
  @include icon-link(reload);
}
.icon-link-route {
  @include icon-link(route);
}
.icon-link-search {
  @include icon-link(search);
}
.icon-link-standardlink {
  @include icon-link(standardlink);
}
.icon-link-upload {
  @include icon-link(upload);
}
.icon-link-view {
  @include icon-link(view);
}
.icon-link-website {
  @include icon-link(website);
}
.icon-link-write {
  @include icon-link(write);
}
.icon-link-zoom-in {
  @include icon-link(zoom-in);
}
.icon-link-zoom-out {
  @include icon-link(zoom-out);
}