@import "~globals/style/core";
@import "./arrow/index";


.vwd5_arrows {
  @include clearfix();
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  @include media($tablet) {
    display: block;
  }
}
