include Item/index.pug
mixin m301_homepage_stage(items)
    .vw_m301_homepage_stage
        .vw_m301_homepage_stage_qab
            include ../../../presets/dws/m503_QuickAccessBar
        .vw_m301_homepage_stage_inner
            each item in items
                +m301_homepage_stage_item(item.header, item.subheader, item.link, item.link_text, item.img, item.lightness)
        .vwd5_arrows.vw_m301_homepage_stage_controls
