@import "../../../globals/style/core";

%HeadlineModule {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $font_head;
  font-weight: bold;
  color: $grey_100;
}

.m020_Headline_H1 {
  @extend %HeadlineModule;
  @include responsive-typo($header-1);
}

.m021_Headline_H2 {
  @extend %HeadlineModule;
  @include responsive-typo($header-2);
}

.m022_Headline_H3 {
  @extend %HeadlineModule;
  @include responsive-typo($header-3);
}

.m023_Headline_H4 {
  @extend %HeadlineModule;
  @include responsive-typo($header-4);
}

.m024_Headline_H5 {
  @extend %HeadlineModule;
  @include responsive-typo($header-5);
}
