%module-spacing {
  display: block;
  padding: {
    top: rem(40px);
    bottom: rem(40px);
  }
}

%module-spacing-inner {
  margin-bottom: rem(40px);
  &:last-child {
    margin-bottom: 0;
  }
}

%head-module-spacing {
  @extend %module-spacing;

  @include media($laptop) {
    padding: {
      top: rem(60px);
      bottom: rem(60px);
    }
  }
}

%head-module-spacing-inner {
  @extend %module-spacing-inner;

  @include media($laptop) {
    margin-bottom: rem(60px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

%page-module-spacing {
  @extend %module-spacing;

  @include media($laptop) {
    padding: {
      top: rem(80px);
      bottom: rem(80px);
    }
  }
}

%page-module-spacing-inner {
  @extend %module-spacing-inner;

  @include media($laptop) {
    margin-bottom: rem(80px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
