%container-fluid {
  padding-left: 2.0rem;
  padding-right: 2.0rem;
  @include clearfix();

  @include media($tablet) {
    padding-left: 5.0rem;
    padding-right: 5.0rem;
  }

  @include media($desktop) {
    padding-left: 6.0rem;
    padding-right: 6.0rem;
  }

  @include media($widescreen) {
    padding-left: 8.0rem;
    padding-right: 8.0rem;
  }
}

@mixin container() {
  @extend %container-fluid;
}

@mixin gutters-default($multiplier: 1) {
  @include gutters();
  @include media($tablet) {
    @include gutters();
  }
  @include media($laptop) {
    @include gutters();
  }
  @include media($desktop) {
    @include gutters();
  }
  @include media($widescreen) {
    @include gutters();
  }
}
