@import "~globals/style/core";

.mk611 {
  @extend %head-module-spacing;

  &__container {
    @include container();
  }

  &__title {
    margin-bottom: rem(10px);
    @include media($tablet) {
      margin-bottom: rem(20px);
    }
  }

  &__content-mobile {
    display: block;
    @include media($tablet) {
      display: none;
    }
  }

  &__content-desktop {
    display: none;
    @include media($tablet) {
      display: block;
    }
  }
}
