include ../../components/NavigationModules/mk504_Dealer_ID/index

+mk504_dealer_id(getLorem(100), getLorem(100), [
    {
        name: getLorem(50),
        address: getLorem(75),
        phone: '+7 (495) 258-88-38',
        link: '#'
    },
    {
        name: getLorem(50),
        address: getLorem(75),
        phone: '+7 (495) 258-88-38',
        link: '#'
    },
    {
        name: getLorem(50),
        address: getLorem(75),
        phone: '+7 (495) 258-88-38',
        link: '#'
    },
    {
        name: getLorem(50),
        address: getLorem(75),
        phone: '+7 (495) 258-88-38',
        link: '#'
    }
])
