include ../../BasicModules/Media/m013_Media_16x9/index

mixin m410_PL_Media_Gallery(images)
    // Component m410_PL_Media_Gallery
    section.m410
        .m410__container
            .m410__inner
                .m410__slider
                    each image in images
                        +m013_Media_16x9(image.image, false, image.caption).m410__image
                .m410__dots
                .m410__controls


    // END - m410_PL_Media_Gallery
