@import "../../../globals/style/core";

.m410 {
  @include responsive-typo($bodycopy-b1);

  &__inner {
    position: relative;
  }

  &__controls {
    @include aspect-ratio(16, 4.5);
  }

  &__dots {
    @include aspect-ratio(16, 8.2);
  }

  &__controls,
  &__dots {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
  }
}
