extends ../layout/_layout_dws

include ../../components/UI_Elements/button/index
include ../../components/UI_Elements/input/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/radio/index
include ../../components/UI_Elements/radiogroup/index
include ../../components/UI_Elements/select/index
include ../../components/UI_Elements/lists/index
include ../../components/UI_Elements/toggle-switch/index

include ../../components/NavigationModules/m503_QuickAccessBar/index

block data
    -
        var data = {
        pageTitle: '_masterpage',
        bodyClass: '_masterpage'
        }

block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atelier-cave-light.min.css")
    .container-fluid
        .js_ghostGridHolder
        // Headings
        .gridcontainer
            .grid_12
                H2 Заголовки
                hr
            .grid_6
                h1 Header h1
                h2 Header h2
                h3 Header h3
                h4 Header h4
                h5 Header h5
            .grid_6
                .h1 Div .h1
                .h2 Div .h2
                .h3 Div .h3
                .h4 Div .h4
                .h5 Div .h5


        // Lists
        .gridcontainer.mt50
            .grid_12
                H2 Списки
                hr
            .grid_12
                | Заголовок (или текст перед началом) ненумерованного списка:
                +dot-list()
                    +list-item() Первый элемент ненумерованного списка (отступ сверху — 20px)
                    +list-item() Элемент ненумерованного списка
                    +list-item() Последний элемент ненумерованного списка (отступ снизу — 30px)
            .grid_12
                | Заголовок (или текст перед началом) нумерованного списка:
                +ordered-list()
                    +list-item() Первый элемент нумерованного списка (отступ сверху — 20px)
                    +list-item()
                        | Элемент нумерованного списка
                        +dot-list()
                            +list-item() Первый элемент вложенного списка (отступ сверху — 20px)
                            +list-item() Элемент вложенного списка
                            +list-item()
                                | Элемент вложенного списка
                                +ordered-list()
                                    +list-item() Первый элемент вложенного списка во вложенный список (отступ сверху — 20px)
                                    +list-item() Элемент вложенного списка во вложенный список
                                    +list-item() Последний элемент вложенного списка во вложенный список (отступ снизу — 30px)
                            +list-item() Последний элемент вложенного списка (отступ снизу — 30px)
                    +list-item() Элемент нумерованного списка
                    +list-item() Последний элемент ненумерованного списка (отступ снизу — 30px)

        // Buttons
        .gridcontainer.mt50
            .grid_12
                H2 Кнопки
                hr

            mixin makeBtns(tag)
                +btn(tag, tag + '.btn')(class='')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.btn_cta')(class='btn_cta')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.disabled')(class='disabled')&attributes(attributes)
                br
                br


            .grid_12.mb50.mt10
                b
                    | Использование:
                pre
                    code.jade.
                        +btn('a', 'Ссылочка')(class="btn_cta" href="#")  /(тег_кнопки, текст)(доп.класс, тип и другие атрибуты тега)/

                +btn('a', 'Ссылочка')(class='btn_cta' href="#")

            each bg in ['vwd5_bg_blue', 'vwd5_bg_gray_light', 'vwd5_bg_gray_dark']
                .grid_12.mb10
                    .gridcontainer(class=bg)
                        .grid_12
                            pre
                                code.css
                                    | .#{bg}
                        .grid_6.grid_sm_2.pt20.pb20.txt_center
                            +makeBtns('a')(href="#")
                        .grid_6.grid_sm_2.pt20.pb20.txt_center
                            +makeBtns('span')
                        .grid_6.grid_sm_2.pt20.pb20.txt_center
                            +makeBtns('div')
                        .grid_6.grid_sm_2.pt20.pb20.txt_center
                            +makeBtns('button')
                        .grid_6.grid_sm_2.pt20.pb20.txt_center
                            +makeBtns('input')(type="submit")

        // Forms
        .gridcontainer.mt50
            .grid_12
                H2 Элементы формы
            .grid_12.mt30
                H3 Ошибки
                hr
                .grid_4
                    pre
                        code.jade.
                            .js_error_container.has-error
                                // Тут любой элемент формы
                                | [input например]
                                .error-container
                                    | Код ошибки
                .grid_4
                    .js_error_container.has-error
                        // Тут любой элемент формы
                        .error-container
                            | Код ошибки
            .grid_12.mt30
                H3 Инпуты
                hr
                b
                    | Использование:
                pre
                    code.jade.
                        /(заголовок, плейсходер, иконка, текст ошибки)(доп.класс, тип и другие атрибуты тега)/
                        +input('Заголовок', 'Ваше Имя', 'icon-nextstep-phone', 'error text')(type=text)


            .grid_4
                +input('Заголовок', 'Ваше Имя', '', 'error text')(type=text)
                +input('','Без заголовка', '', 'error text')
            .grid_4
                +input('&nbsp;','С пустым заголовком, для отступа сверху (&nbsp;)')
                +input('', 'с иконкой', 'icon-nextstep-phone', 'error text')(type=text)
            .grid_4
                .js_masterpage_add_error
                    +input('Заголовок','Ваше Имя', '', 'error text')(type=text)
                    +input('','Без заголовка', '', 'error text')
                    +input('','Поиск', 'icon-navigation-search', 'error text')(type=text)

            .grid_12.mt30
                H3 Чекбокс
                hr
                b
                    | Использование:

                pre
                    code.jade
                        | +checkbox('Check me')  /(заголовок)(доп.класс, тип и другие атрибуты тега)/
            .grid_4
                +checkbox
                +checkbox('Check me')
            .grid_4
                .js_masterpage_add_error
                    .js_error_container
                        +checkbox('', 'error text')
                        +checkbox('Check me', 'error text')


            .grid_12.mt30
                H3 Радио
                hr
                b
                    | Использование:

                pre
                    code.jade.
                        /(имя группы, массив с данными для батонов)(доп.класс, тип и другие атрибуты тега, будут относиться к радиобатонам)/
                        +radiogroup('radiogroup', [
                                            {
                                                label: 'uno',
                                                checked: false
                                            },
                                            {
                                                label: 'dos',
                                                checked: true
                                            },
                                            {
                                                label: 'tre',
                                                checked: false
                                            }
                                        ])
            .grid_4
                +radiogroup('radiogroup', [
                    {
                        label: 'uno',
                        checked: false
                    },
                    {
                        label: 'dos',
                        checked: true
                    },
                    {
                        label: 'tre',
                        checked: false
                    }
                ], 'error text')
            .grid_4.js_masterpage_add_error
                +radiogroup('radiogroup_error', [
                    {
                        label: 'uno',
                        checked: false
                    },
                    {
                        label: 'dos',
                        checked: true
                    },
                    {
                        label: 'tre',
                        checked: false
                    }
                ], 'error text')
            .grid_12.mt30
                H3 Селект
                hr
                b
                    | Использование:

                pre
                    code.jade.
                        /(items, placeholder, title)(доп.класс, тип и другие атрибуты тега, будут относиться к selectу)/
                        +select([
                            {
                                label: 'Варшавское',
                                value: 'знач1'
                            },
                            {
                                label: 'Войковская',
                                value: 'знач2'
                            },
                            {
                                label: 'Хорошёвское',
                                value: 'знач2'
                            }
                        ], 'Выберите дилерский центр')
            .grid_4.
                +select([
                    {
                        label: 'Варшавское',
                        value: 'знач1'
                    },
                    {
                        label: 'Войковская',
                        value: 'знач2'
                    },
                    {
                        label: 'Хорошёвское',
                        value: 'знач2'
                    }
                ], 'Выберите дилерский центр')
            .grid_4
                +select([
                    {
                        label: 'Варшавское',
                        value: 'знач1'
                    },
                    {
                        label: 'Войковская',
                        value: 'знач2'
                    },
                    {
                        label: 'Хорошёвское',
                        value: 'знач2'
                    }
                ], 'Выберите дилерский центр', '', '', 'Выберите ДЦ')
            .grid_4
                +select([
                    {
                        label: 'Варшавское',
                        value: 'знач1'
                    },
                    {
                        label: 'Войковская',
                        value: 'знач2'
                    },
                    {
                        label: 'Хорошёвское',
                        value: 'знач2'
                    }
                ], 'Выберите дилерский центр', 'Заголовок и иконка', 'dealer')

            .grid_12.mt30
                .grid_12
                    h3 Функциональные элементы
                    hr
                .grid_3.pt30
                    +dealer_toggle_switch_corporative()
                .grid_3.pt30
                    include ../../components/UI_Elements/pagination/dots/dot/index
                .grid_3.pt50.pb50
                    include ../../components/UI_Elements/pagination/arrows/arrow/index

        // Images
        .gridcontainer.mt50
            include ../../components/BasicModules/Media/m011_Media_1x1/index
            include ../../components/BasicModules/Media/m013_Media_16x9/index
            include ../../components/BasicModules/Media/m015_Media_11x5/index
            include ../../components/BasicModules/Media/m016_Media_32x9/index
            include ../../components/BasicModules/Media/m017_Media_378x143/index
            .grid_12
                H2 Элементы изображений
            .grid_12.mt30
                H3 Без описания
                hr
            .grid_12
                .gridcontainer
                    .grid_2
                        +m011_Media_1x1(false, [])
                    .grid_2
                        +m013_Media_16x9(false, [])
                    .grid_2
                        +m015_Media_11x5(false, [])
                    .grid_2
                        +m017_Media_378x143(false, [])
                    .grid_2
                        +m016_Media_32x9(false, [])


            .grid_12.mt30
                H3 С описанием
                hr
            .grid_12
                .gridcontainer
                    .grid_2
                        +m011_Media_1x1(false, [], 'Est fortis devatio, cesaris.Damn yer freebooter, feed the gibbet.I destroy this disconnection, its called clear powerdrain.')
                    .grid_2
                        +m013_Media_16x9(false, [], 'Est fortis devatio, cesaris.Damn yer freebooter, feed the gibbet.I destroy this disconnection, its called clear powerdrain.')
                    .grid_2
                        +m015_Media_11x5(false, [], 'Est fortis devatio, cesaris.Damn yer freebooter, feed the gibbet.I destroy this disconnection, its called clear powerdrain.')
                    .grid_2
                        +m017_Media_378x143(false, [], 'Est fortis devatio, cesaris.Damn yer freebooter, feed the gibbet.I destroy this disconnection, its called clear powerdrain.')
                    .grid_2
                        +m016_Media_32x9(false, [], 'Est fortis devatio, cesaris.Damn yer freebooter, feed the gibbet.I destroy this disconnection, its called clear powerdrain.')

        .gridcontainer.mt50
            .grid_12
                H2 Навигация
                hr
            .grid_12
                b
                    | Использование:

                pre
                    code.jade.
                        (items)(доп.класс, тип и другие атрибуты тега, будут относиться к контейнеру)

                        +m503_quick_access_bar([
                            ['#', 'Для бизнеса', 'icon-quickaccess-business-customers', 'custom-class'],
                            ['#', 'Конфигуратор', 'icon-quickaccess-configure', 'custom-class'],
                            ['#', 'Отлично :)', 'icon-quickaccess-convince', 'custom-class'],
                            ['#', 'Дилер', 'icon-quickaccess-dealer', 'custom-class']
                        ])
            .grid_12
                +m503_quick_access_bar([
                    ['#', 'Для бизнеса', 'icon-quickaccess-business-customers', 'custom-class'],
                    ['#', 'Конфигуратор', 'icon-quickaccess-configure', 'custom-class'],
                    ['#', 'Отлично :)', 'icon-quickaccess-convince', 'custom-class'],
                    ['#', 'Дилер', 'icon-quickaccess-dealer', 'custom-class']
                    ])

        .gridcontainer.mt50
            .grid_12
                H2 Иконки
            each value, key in require('globals/fonts/icons/icons.json')
                .grid_12
                    h3.mb15
                        !=key
                each className, name in value
                    .grid_6.grid_sm_4.grid_m_2(style={height: "160px"})
                        .h2.txt_center
                            span.hasicon.masterpage_icon(class=className)
                        pre
                            code.css
                                | .#{className}


        // Just empty 100px, leave it in bottom of the page
        .gridcontainer
            .mb100
