

$mobile: new-breakpoint(min-width em(320px, 16px));
$fablet: new-breakpoint(min-width em(480px, 16px));
$tablet: new-breakpoint(min-width em(768px, 16px), $susy_768);
$laptop: new-breakpoint(min-width em(1024px, 16px), $susy_1024);
$desktop: new-breakpoint(min-width em(1281px, 16px), $susy_1281);
$widescreen: new-breakpoint(min-width em(1486px, 16px), $susy_1486);
//$tractor: new-breakpoint(min-width em(1486px)); //http://www.tractordata.com/farm-tractors/000/3/7/373-international-harvester-1486-dimensions.html


