// Main
$primary: #0099DA;
$primary_hover: #0068AA;


// Grayscale
$grey_100: #1D1F20;
$grey_80: #2F3538;
$grey_60: #808890; // steel
$grey_40: #BDC3C6;
$grey_20: #DEE1E3;
$grey: #F3F5F6;

$white: #fff;

// Backgrounds
$bg_blue: $primary;
$bg_grey: $grey;
$bg_white: #FFFFFF;
$bg_power_grey: $grey_20;
$bg_power_dark: $grey_80;
$inverted: #fff;


// Other
$orange: #FAAA00;
$red: #C82E2D;


// Zeplin Colors
$zeplin-steel: $grey_60;
$zeplin-silver: $grey_40;
$zeplin-dark-grey: $grey_100;
$zeplin-pale-grey: $grey;
$zeplin-charcoal-grey: $grey_80;
$zeplin-cerulean: $primary;
