include ../../UI_Elements/button/index
include ../../BasicModules/Headline/m020_Headline_H1/index
include ../../BasicModules/Media/m013_Media_16x9/index

mixin m341_Showroom_Stage(header, link, link_text, img, lightness)
    // Component m341_Showroom_Stage
    -
        link = link || '#';
        link_text = link_text || 'Настраиваимая кнопка';
        header = header || 'Passat Variant';

    section.m341(class=lightness ? 'm341--' + lightness : '')
        +m013_Media_16x9(img, []).m341__img_container
        .m341__title
            +m020_Headline_H1(false).m341__head.js_responsive_header
                !=header

        .m341__cta.centred
            +btn('a', link_text)(href=link class='btn_cta btn_center').js_showroom_stage_cta_button
    // END m341_Showroom_Stage
