-
    unique_id = (function() {
    var increment = 0;
    function inc() {
    increment++;
    return 'kdx_' + increment;
    }
    return inc;
    }());

    function getIconClass(group, name) {
        return !!name ? require('globals/fonts/icons/icons.json')[group][name] : false;
    };

    var loremIpsum = 'Фотон полупрозрачен для жесткого излучения. Турбулентность излучает кварк. Фонон одномерно восстанавливает кристалл. Возмущение плотности взаимно. Волновая тень, как неоднократно наблюдалось при постоянном воздействии ультрафиолетового облучения, ускоряет циркулирующий разрыв.' +
    'Силовое поле конфокально синхронизует квазар. Фронт синфазно расщепляет квазар. Призма отклоняет атом. Гетерогенная структура сжимает термодинамический лептон.' +
    'Гидродинамический удар, в отличие от классического случая, восстанавливает экситон. Химическое соединение устойчиво синхронизует электронный фронт. Жидкость, как неоднократно наблюдалось при постоянном воздействии ультрафиолетового облучения, катастрофично отражает ускоряющийся фотон, даже если пока мы не можем наблюсти это непосредственно. Среда тормозит квантово-механический квазар. Фронт испускает гамма-квант. Волновая тень неустойчиво заряжает субсветовой экситон.';
    var loremIpsumJs = require('globals/js/utility/loremIpsum.js')
    var getLorem = loremIpsumJs.default;
    var getLoremList = loremIpsumJs.list;

include ../../components/LkComponents/topBar/index
block data

doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{data.pageTitle}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body(class=data.bodyClass, style={visibility: 'hidden'})
    .page-wrapper
        block content
        // container for visual grid for development
        .container-fluid
            .js_ghostGridHolder

