block data


head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{data.pageTitle}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

body(class=data.bodyClass, style={visibility: 'hidden'}).m400
    block content
