mixin m151_Introcopy(title)
    // Component m151_Introcopy
    .m151
        +m021_Headline_H2().m151__heading
            !=title
        .m151__content
            if block
                block

    // END - m151_Introcopy