@import "../../../globals/style/core";

.m151 {
  @extend %head-module-spacing;
  @include container();
  text-align: center;

  &__heading {
    margin-bottom: rem(10px);
    @include media($tablet) {
      margin-bottom: rem(20px);
    }
  }

  &__content {
    @include responsive-typo($bodycopy-b1);
  }
}