@import "../../../globals/style/core";

.m211 {
  @include container();
  @extend %page-module-spacing;

  &__container {
    @include kdx-grid-container();
    @include media($tablet) {
      @include clearfix();
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
    }
  }


}

.m211_item {
  @extend %module-spacing-inner;
  @include span(12);
  @include media($tablet) {
    @include span(4);
  }
  @include media($laptop) {
    @include gutters();
  }
  @include media($desktop) {
    @include gutters();
  }
  @include media($widescreen) {
    @include gutters();
  }

  @include media($tablet) {
    margin-bottom: 0;
    display: block;
  }

  &__headline {
    @include responsive-typo($header-4);
  }
  &__image-wrapper {
    margin-bottom: rem(30px);
    @include media($fablet) {
      max-width: rem(213px);
      .is-icon-contain & {
        max-width: rem(120px);
      }
    }
  }
}