include ../m200_Basic_Content_Teaser/index

mixin m211_Next_Steps_Teaser_item(item)
    +m200_Basic_Content_Teaser(item, false, 'm211_item').m200_flex.m200_mfloat.m211_item

mixin m211_Next_Steps_Teaser(items)
    // Component m211_Next_Steps_Teaser
    .m211
        .m211__container
            each item in items
                // !HTML 16.03
                +m211_Next_Steps_Teaser_item(item)
    // END - m211_Next_Steps_Teaser
