@import '../../../globals/style/_core';


.temp_1 {
  @extend %head-module-spacing;
  @include responsive-typo($bodycopy-b1);
}

.temp_2 {
  @extend %page-module-spacing;

  &__inner {
    @extend %module-spacing-inner;

    @include media($tablet) {
      margin-bottom: 0;
    }
  }
}

.temp_3 {
  &__headline {
    @include responsive-typo($header-4);
  }
  &__image-wrapper {
    margin-bottom: rem(30px);
    @include media($fablet) {
      max-width: rem(213px);
      .is-icon-contain & {
        max-width: rem(120px);
      }
    }
  }
}

$overlay: false;


$overlay-320: 'https://cdn.zeplin.io/58806c219ceabde30c1eb7e0/screens/62876DC0-EDA3-4924-A70D-E72FD179B406.png';
$overlay-1024: 'https://cdn.zeplin.io/58806c219ceabde30c1eb7e0/screens/1D14D7DB-D0F0-475E-9126-0310BD981D9F.png';

@import "../../../devdep/overlay/_overlay";
