
mixin mk504_dealer_id_phone_item(phone, name, link, address_flag)
    - phone = phone || '+7 (962) 999-99-99'
    - name = name || 'Энтузиастов'
    - link = link || '/'
    .mk504_phone
        if !address_flag
            a.hasicon.icon-link-pin.mk504_phone__icon(href=link)
            span.mk504_phone__phone
                | !{phone} —&nbsp;
            a.mk504_phone__name(href=link)
                !=name
        else
            div.mk504_phone__phone
                span.hasicon.icon-link-phone.mk504_phone__icon
                |!{phone}
            a.mk504_phone__name(href=link)
                span.hasicon.icon-link-pin.mk504_phone__icon
                |!{name}


mixin mk504_dealer_id(title, subtitle, contacts)
    - _chunk = require('lodash/chunk');
    - var address = contacts.length <= 2;
    - contacts = contacts.length > 2 ? _chunk(contacts, 2) : _chunk(contacts, 1);
    .mk504
        .mk504__container
            .mk504__title
                div.mk504__main
                    !=title
                div.mk504__sub
                    !=subtitle
            .mk504__phones
                each contact_chunk in contacts
                    .mk504__phones_col
                        each contact in contact_chunk
                            +mk504_dealer_id_phone_item(contact.phone, address ? contact.address :contact.name, contact.link, address)
                a.hasicon.icon-link-pin.mk504__contacts_link(href='/contacts')
