@import '../../../globals/style/core';

.mk504 {
  background-color: #fff;
  overflow: hidden;
  padding: {
    top: rem(15px);
    bottom: rem(15px);
  };


  &__container {
    @include container();
    @include vertical-align-pseudo();

    @include media($laptop) {
      &:before {
        display: none;
      }
    }
    //@include justify();
  }

  &__main {
    @include responsive-typo($bodycopy-b2);
    @include media($tablet) {
      margin-bottom: rem(6px);
    }
    @include media($widescreen) {
      @include responsive-typo($bodycopy-b1);
    }
  }

  &__sub {
    @include responsive-typo($bodycopy-b4);
    display: none;
    @include media($tablet) {
      display: block;
    }
    @include media($widescreen) {
      @include responsive-typo($bodycopy-b3);
    }
  }

  &__title,
  &__phones {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
  }

  &__title {
    @include media($laptop) {
      float: left;
    }
  }

  &__phones {
    @include media($laptop) {
      float: right;
    }
  }

  &__phones_col {
    display: none;
    float: left;
    margin-left: rem(15px);
    @include media($laptop) {
      display: block;
    }
    @include media($widescreen) {
      margin-left: rem(30px);
    }
    &:first-child {
      margin-left: 0;
    }
  }

  &__contacts_link {
    @extend %icon-link-before;
    display: inline-block;
    width: rem(46px);
    line-height: rem(23px);
    height: rem(23px);
    text-align: right;
    padding-right: 1px;
    @include media($laptop) {
      display: none;
    }

    &:before {
      content: icon-link-char(contacts);
      font-size: rem(27px);
      display: block;
      width: auto;
    }
  }
}


.mk504_phone {
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  @include media($widescreen) {
    max-width: rem(350px);
  }


  @include responsive-typo($bodycopy-b4, to $widescreen);

  @include media($widescreen) {
    @include responsive-typo($bodycopy-b2);
  }

  @include media($laptop) {
    display: block;
    color: $grey_100;
    line-height: rem(22px);
  }

  @include media($widescreen) {
    + .mk504_phone {
      margin-top: rem(6px);
    }
  }

  &__icon {
    color: $primary;
    margin-right: 3px;
  }

  &__phone,
  &__name {
    white-space: nowrap;
  }

  div#{&}__phone + &__name {
    display: block;
  }

  &__name {
    max-width: rem(250px);
    //display: inline-block;
    //line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

