mixin m502_main_navigation_item_inner(link, icon, title)
    a.vw_m502_btn(href=link)
        div.vw_m502_btn__inner
            .vw_m502_icon_wrapper
                .hasicon.vw_m502_icon(class=icon)
                    // icon must be here
            span.vw_m502_link_label
                =title
mixin m502_main_navigation_item(data, active)
    -
        link  = data[0]
        title = data[1]
        icon  = data[2]
        active = active || false

    li(class=(active ? 'is-active' : ''))&attributes(attributes)
        +m502_main_navigation_item_inner(link, icon, title)
