extends ../../../../globals/layout/_layout_dws
block data
    -
        var data = {
        pageTitle: 'Title here',
        bodyClass: ''
        };

block content
    include ../../../../presets/dws/mk504_dealer_id
    include ../../../../presets/dws/showroom/navigation-editorial
    include ../../../../presets/dws/editorial/stage
    include ../../../../presets/dws/showroom/gallery_slider
    include ../../../../presets/dws/showroom/trims-acco
